<div class="title">
    <img src="assets/images/Light.png" alt="Logotipo Alternativo geoB4B">
</div>
<div class="cards">
    <div class="card">
        <h1>¿Qué es <b>geoB4B?</b></h1>
        <hr>
        <p>
            Bases de Datos de empresas georeferenciadas con números telefónicos y correos para campañas de 
            geomarketing, estrategias comerciales o inclusive ventas. 
        </p>
        <p>
            Podrás acercarte a tu público objetivo, creando estrategias de marketing digital efectivo, 
            impulsando tu crecimiento empresarial y agilizando el contacto con clientes potenciales. Esto te evita perder el tiempo, 
            y optimizar los recursos de tu empresa.
        </p>
    </div>
</div>

