<div class="cards" >
    <div class="card">
        <h1>Nuestras oficinas</h1>
        <h3>CDMX</h3>
        <ul>
            <li><i class="ion-ios-location"></i>Av. Ejercito Nacional 373, Oficina 505, Col. Granada C.P. 11520 Del. Miguel Hidalgo</li>
            <li><i class="ion-ios-telephone"></i>+52 55 5255 1372</li>
            <li><i class="ion-ios-telephone"></i>+52 55 5255 1282</li>
        </ul>
        <h3>Monterrey</h3>
        <ul>
            <li><i class="ion-ios-location"></i>Calle Washington 1400 Col. Centro, Monterrey, Nuevo León, C.P. 64000 ​</li>
            <li><i class="ion-ios-telephone"></i>+52 81 4170 7447</li>
        </ul>
        <h3>España</h3>
        <ul>
            <li><i class="ion-ios-location"></i>Calle María de Molina 54 C.P. 28006, Madrid, ESPAÑA.</li>
        </ul>
    </div>
    <div class="card">
        <h1>Sobre oeste®</h1>
        <ul>
            <li><a href="https://oeste.xyz/blog" id="Blog" class="Oeste" target="_blank">Blog</a></li>
            <li><a href="https://demos.oeste.xyz/" id="Demos" class="Oeste" target="_blank">Demos</a></li>
            <li><a href="https://oeste.xyz/doc/OESTE-AVISO%20DE%20PRIVACIDAD.pdf" id="Privacidad" class="Oeste" target="_blank">Aviso de Privacidad</a></li>
        </ul>
        <h3>Solicita una cotización</h3>
        <ul>
            <li><a href="mailto:info@geob4b.com">info@geob4b.com</a></li>
        </ul>
    </div>
    <div class="card">
        <h1>Nuestros Servicios</h1>
        <ul>
            <li><a href="https://oeste.xyz/soluciones/big-data" id="Big_Data" class="Servicios" target="_blank">Big Data</a></li>
            <li><a href="https://oeste.xyz/soluciones/bim" id="Bim" class="Servicios" target="_blank">BIM</a></li>
            <li><a href="https://oeste.xyz/soluciones/bpm" id="Bpm" class="Servicios" target="_blank">BPM</a></li>
            <li><a href="https://oeste.xyz/soluciones/business-intelligence" id="Business_Intelligence" class="Servicios" target="_blank">Business Intelligence</a></li>
            <li><a href="https://oeste.xyz/soluciones/cartografia" id="Cartografia" class="Servicios" target="_blank">Cartografía</a></li>
            <li><a href="https://oeste.xyz/soluciones/location-intelligence" id="Location_Intelligence" class="Servicios" target="_blank">Location Intelligence</a></li>
            <li><a href="https://oeste.xyz/soluciones/sig" id="Valores" class="Sig" target="_blank">SIG</a></li>
            <li><a href="https://oeste.xyz/soluciones/social-media" id="Social_Media" class="Servicios" target="_blank">Social Media</a></li>
        </ul>
    </div>
    <div class="card">
        <h1>Nuestros Productos</h1>
        <ul>
            <li> <a href="https://ewisemaps.com" id="Ewisemaps" class="Productos" target="_blank">ewisemaps</a></li>
            <li> <a href="https://4tour360.com" id="4tour360" class="Productos" target="_blank">4tour360</a></li>
            <li> <a href="https://geoTarget360.com" id="Geotarget360" class="Productos" target="_blank">geoTarget360</a></li>
            <li> <a href="https://oeste.xyz/productos/geonormalizer" id="Geonormalizer" class="Productos" target="_blank">geonormalizer</a></li>
            <li> <a href="https://kryptoredeem.com/es/inicio/" id="Kryptoredeem" class="Productos" target="_blank">KryptoRedeem</a></li>
        </ul>
    </div>
    <div class="group">
        <ul>
            <li><a href="https://oesteinvestgroup.com"><img  src="assets/images/OESTE INVEST GROUP.png" alt="oeste invest group"></a></li>
            <li><a href="https://www.retailcxlab.com/"><img  src="assets/images/retailcxlab.png" alt="Organización de Estudios del Territorio S.A. de C.V."></a></li>
            <li><a href="https://www.oeste.xyz/"><img  src="assets/images/oeste-isologo.png" alt="Retail CX Lab"></a></li>
            <li><a href="https://www.turinginvestmentsgroup.com/"><img  src="assets/images/turing.png" alt="Turing Investments Group"></a></li>
        </ul>
    </div>
</div>
<div class="copyright">
    ©2019 Todos los Derechos Reservados | Organización de Estudios del Territorio S.A. de C.V.
</div>
