<div class="title">
    <h1>contáctanos<b>.</b></h1>
    <h2><b>NO LO PIENSES MÁS</b></h2>
</div>
<form ng-submit="sendQuotation()">
    <div class="text-box">
        <label>Nombre *</label>
        <input type="text" ng-model="quotation.name" required>
    </div>
    <div class="text-box">
        <label>Apellido *</label>
        <input type="text" ng-model="quotation.last_name" required>
    </div>
    <div class="text-box">
        <label>e-mail *</label>
        <input type="email" ng-model="quotation.email" required>
    </div>
    <div class="text-box">
        <label>Teléfono *</label>
        <input type="tel" ng-model="quotation.phone" pattern='[\+]\d{2}[\(]\d{2}[\)]\d{4}[\-]\d{4}' placeholder="(Format: +99(99)9999-9999)" required>
    </div>
    <div class="text-area">
        <label>Mensaje *</label>
        <textarea required ng-model="quotation.message"></textarea>
    </div>
    <button class="Boton">
        Enviar
    </button>
</form>
