<div id="geoB4B-verify" class="animated fadeInUp">
    <div class="card">
        <h4>Tu mensaje ha sido enviado, estaremos comunicándonos mediante correo y/o teléfono</h4>
        <h4>:)</h4>
        <button class="Boton" id="Enviar" ng-click="checking()">¡Entendido!</button>
    </div>
</div>