<div class="title">
    <h1>geoEnterprise<b>.</b></h1>
    <h2>Activa la ubicación para ver las <b>empresas cerca de ti</b></h2>
</div>
<div class="cards">
    <div class="card" id="ewisemaps">
        <leaflet
            bounds="bounds"
            width="100%" 
            height="100%"
            layers="layers"
            events="events"
            defaults="defaults"
            >
        </leaflet>
    </div>
</div>
<get-feature-info-directive></get-feature-info-directive>
<get-map-events-directive></get-map-events-directive>
<get-pop-up-feature-info-directive></get-pop-up-feature-info-directive>