<div class="cards">
    <div class="card">
        <img src="assets/images/data_visualization.png" alt="¿por qué nosotros?"/>
    </div>
    <div class="card">
        <h1>¿por qué <b>nosotros?</b></h1>
        <p>
            Te damos la base de datos actualizada y georeferenciada.
        </p>
        <p>
            Además la segmentamos por diferentes características de la población, zonas de riesgo entre otros.
        </p>
        <p>
            Con nuestro paquete <b>enterprise</b> geolocalizamos tus registros en un mapa, que al combinarla 
            con nuestra plataforma <b>ewisemaps</b> podemos segmentar las empresas por datos sociodemográficos
            de la población y zonas de riesgo.
        </p>
    </div>
</div>