<div class="title">
    <h1>blog<b>.</b></h1>
    <a href="https://oeste.xyz/blog" target="_blank">
        <button class="Boton" id="Blog">
            ver todos
        </button>
    </a>
</div>
<div class="cards">
    <div ng-if="blog.length >= 1" class="card" itemscope itemtype="https://schema.org/Blog" ng-repeat="b in blog | orderBy:'-id'">
        <a ng-href="{{b.url}}" target="_blank">
            <div class="head" 
            style="background-image: url({{b.image}});
            background-position: center; 
            background-repeat: no-repeat;
            background-size: cover;"
            ></div>
            <div class="content">
                <h3 itemprop="about">{{b.title}}</h3>
                <p itemprop="citation">{{b.text}}</p>
            </div>
        </a>
    </div>
</div>
