#geoB4B-demo{
    width: 100%;
    color: #939496;
    background:url('../assets/images/fondo_planes.png');
    background-position: center; 
    background-repeat: no-repeat;
    background-size: cover;
    padding: 3em 5em;
}

#geoB4B-demo .title{
    text-align: center;
}

#geoB4B-demo .title h1{
    font-size: 3.6em;
    margin: 1em 0;
    font-weight: bold;
    color: #F6F7F7;
    text-align: center;
}

#geoB4B-demo .title h1 b{
    color: #FD830C;;
}

#geoB4B-demo .title h2{
    font-size: 2.7em;
    color: #fff;
}


#geoB4B-demo .cards{
    width:100%;
    padding: 0 3em;
    position:relative;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: row;
    flex-wrap: wrap;
}

#geoB4B-demo .card{
    width:100%;
    max-width: 100%;
    margin: 2em 0%;
    height: 500px;
    padding: 0;
    transition: 1s;
    -webkit-transition:0.5s;
    flex: 1 1 auto;
    text-align: center;
    cursor: pointer;
    border: transparent;
}

#geoB4B-demo .card .leaflet-control-geocoder{
    font-family: 'Lato', sans-serif;
    padding: 0.8em 0;
}

#geoB4B-demo .card .leaflet-bar a{
    color: #FD830C;
    box-shadow: 0 3px 7px -1px rgba(0, 0, 0, 0.1);
}

#geoB4B-demo .card .leaflet-control-geocoder-alternatives li{
    padding: 1em;
}
#geoB4B-demo .card  .leaflet-control-geocoder-alternatives li a{
    color: #555;
    box-shadow: none;
}
#geoB4B-demo .card .basemaps {
    padding: 1em 0;
}
#geoB4B-demo .card .basemaps.closed .basemap {
    display: none;
}
#geoB4B-demo .card .basemaps.closed .basemap.alt {
    display: inline-block;
}
#geoB4B-demo .card .basemaps.closed .basemap.alt h4 {
    display: none;
}

#geoB4B-demo .card .basemap {
    display: inline-block; /* todo: flexbox? */
    cursor: pointer;
}
#geoB4B-demo .card .basemap.active img {
    border-color: orange;
    box-shadow: 0 3px 7px -1px rgba(0, 0, 0, 0.1);
}
#geoB4B-demo .card .basemap img {
    width: 40px;
    border: transparent;
    margin: 0;
    border-radius: 5px;
    box-shadow: 0 3px 7px -1px rgba(0, 0, 0, 0.1);
}

@media screen and (max-width:3840px) {
    #geoB4B-demo{
        padding: 8.5em 17em;
    }
    #geoB4B-demo .title h1{
        font-size: 8em;
        margin: 0.5em;
    }
    #geoB4B-demo .title h2{
        font-size: 6em;
    }
    #geoB4B-demo .title button{
        font-size: 4em;
        margin: 2em 0;
        border-radius: 40px;
        width: 10em;
    }
}

@media screen and (max-width:2560px) {
    #geoB4B-demo{
        padding: 7.5em 15em;
    }
    #geoB4B-demo .title h1{
        font-size: 5em;
        margin: 0 1em;
    }
    #geoB4B-demo .title h2{
        font-size: 4em;
    }
    #geoB4B-demo .title button{
        font-size: 3em;
        border-radius: 30px;
    }
}

@media screen and (max-width:1920px) {
    #geoB4B-demo{
        padding: 5em 10em;
    }
    #geoB4B-demo .title h1{
        font-size: 3.6em;
        margin: 0 1em;
    }
    #geoB4B-demo .title h2{
        font-size: 2.5em;
    }
    #geoB4B-demo .title button{
        font-size: 2em;
        border-radius: 20px;
    }

    #geoB4B-demo .card{
        height: 700px;
    }
}

@media screen and (max-width:1600px) {
    #geoB4B-demo{
        padding: 3.7em 7.5em;
    }
    #geoB4B-demo .title h1{
        font-size: 3em;
        margin: 0 1em;
    }
    #geoB4B-demo .title h2{
        font-size: 2em;
    }
    #geoB4B-demo .title button{
        font-size: 1.5em;
        border-radius: 20px;
    }
    #geoB4B-demo .card{
        height: 600px;
    }
}

@media screen and (max-width:1366px) {
    #geoB4B-demo{
        padding: 2.5em 5em;
    }
    #geoB4B-demo .title h1{
        font-size: 2.7em;
        margin: 0 1em;
    }
    #geoB4B-demo .title h2{
        font-size: 1.7em;
    }
    #geoB4B-demo .title button{
        font-size: 1.3em;
        border-radius: 20px;
    }
    #geoB4B-demo .card{
        height: 450px;
    }
}

@media screen and (max-width:1200px) {
    #geoB4B-demo{
        padding: 2.5em 1em;
    }
}

@media screen and (max-width:1000px) {
    #geoB4B-demo{
        padding: 2.5em 1em;
    }
}

@media screen and (max-width:600px) {
    #geoB4B-demo{
        display: none;
    }
    #geoB4B-demo .title h2{
        font-size: 1.5em;
    }
}