#geoB4B-why-us{
    width: 100%;
    color: #939496;
    background-color: #fff;
    padding: 3em 5em;
}

#geoB4B-why-us .cards{
    width:100%;
    padding: 0 3em;
    position:relative;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: row;
    flex-wrap: wrap;
}

#geoB4B-why-us .card{
    width:48%;
    max-width: 48%;
    margin: 0 1%;
    padding: 0 ;
    transition: 1s;
    -webkit-transition:0.5s;
    flex: 1 1 auto;
    text-align: center;
}

#geoB4B-why-us .card h1{
    font-size: 3.6em;
    margin: 1em 0;
    text-align: left;
}

#geoB4B-why-us .card p{
    font-size: 1.8em;
    margin: 1em 0;
    text-align: left;
}

#geoB4B-why-us .card img{
    max-width: 100%;
    max-height: 800px;
    margin: 0em;
}


@media screen and (max-width:3840px) {
    #geoB4B-why-us{
        padding: 8.5em 17em;
    }
    #geoB4B-why-us .card{
        padding: 0;
    }
    #geoB4B-why-us .card img{
        max-height: 1600px;
    }
    #geoB4B-why-us .card h1{
        font-size: 8em;
    }
    #geoB4B-why-us .card p{
        font-size: 6em;
    }
}

@media screen and (max-width:2560px) {
    #geoB4B-why-us{
        padding: 7.5em 15em;
    }
    #geoB4B-why-us .card img{
        max-height: 1200px;
    }
    #geoB4B-why-us .card h1{
        font-size: 5em;
    }
    #geoB4B-why-us .card p{
        font-size: 4em;
    }
}

@media screen and (max-width:1920px) {
    #geoB4B-why-us{
        padding: 5em 10em;
    }
    #geoB4B-why-us .card img{
        max-height: 800px;
    }
    #geoB4B-why-us .card h1{
        font-size: 3.6em;
    }
    #geoB4B-why-us .card p{
        font-size: 2.5em;
    }
}

@media screen and (max-width:1600px) {
    #geoB4B-why-us{
        padding: 3.7em 7.5em;
    }
    #geoB4B-why-us .card img{
        max-height: 600px;
    }
    #geoB4B-why-us .card h1{
        font-size: 3em;
    }
    #geoB4B-why-us .card p{
        font-size: 2em;
    }
}

@media screen and (max-width:1366px) {
    #geoB4B-why-us{
        padding: 2.5em 5em;
    }
    #geoB4B-why-us .card img{
        max-height: 500px;
    }
    #geoB4B-why-us .card h1{
        font-size: 2.7em;
    }
    #geoB4B-why-us .card p{
        font-size: 1.7em;
    }
}

@media screen and (max-width:1000px) {
    #geoB4B-why-us{
        padding: 2.5em 5em;
    }
    #geoB4B-why-us .card{
        width: 98%;
        max-width: 98%;
    }
    #geoB4B-why-us .card img{
        max-height: 400px;
    }
    #geoB4B-why-us .card h1{
        font-size: 2.7em;
    }
    #geoB4B-why-us .card p{
        font-size: 1.7em;
    }
}

@media screen and (max-width:600px) {
    #geoB4B-why-us{
        padding: 3em 0 1em 0;
    }
    #geoB4B-why-us .card{
        width: 100%;
        max-width: 100%;
        margin: 0;
    }
    #geoB4B-why-us .card img{
        max-height: 400px;
    }
    #geoB4B-why-us .card h1{
        font-size: 2em;
    }
    #geoB4B-why-us .card p{
        font-size: 1.5em;
        
    }
}