#geoB4B-contact{
    width: 100%;
    color: #4B525D;
    background:url('../assets/images/fondo_contactanos.png');
    background-position: center; 
    background-repeat: no-repeat;
    background-size: cover;
    padding: 5em;
}

#geoB4B-contact .title{
    text-align: left;
    margin: 0 4em;
}

#geoB4B-contact .title h1{
    font-size: 3.6em;
    font-weight: bold;
}

#geoB4B-contact .title h2{
    font-size: 1.8em;
}

#geoB4B-contact form{
    width:100%;
    padding: 0 3em;
    position:relative;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: row;
    flex-wrap: wrap;
}

#geoB4B-contact .text-box{
    width:50%;
    max-width: 50%;
    padding: 2em ;
    transition: 1s;
    -webkit-transition:0.5s;
    flex: 1 1 auto;
    text-align: left;
}

#geoB4B-contact .text-box label{
    width: 100%;
    font-size: 1.8em;
}

#geoB4B-contact .text-box input[type="text"]{
    width: 100%;
    font-size: 1.8em;
    border: none;
    border-bottom: #4B525D 2px solid;
}

#geoB4B-contact .text-box input[type="email"]{
    width: 100%;
    font-size: 1.8em;
    border: none;
    border-bottom: #4B525D 2px solid;
}

#geoB4B-contact .text-box input[type="tel"]{
    width: 100%;
    font-size: 1.8em;
    border: none;
    border-bottom: #4B525D 2px solid;
}

#geoB4B-contact .text-area{
    width:100%;
    max-width: 100%;
    padding: 2em ;
    transition: 1s;
    -webkit-transition:0.5s;
    flex: 1 1 auto;
    text-align: left;
}

#geoB4B-contact .text-area label{
    width: 100%;
    font-size: 1.8em;
}

#geoB4B-contact .text-area textarea{
    width: 100%;
    font-size: 1.8em;
    border: none;
    border-bottom: #4B525D 2px solid;
}

#geoB4B-contact form button{
    background-color: #FD830C;
    border: none;
    color: #fff;
    padding: 0.5em;
    font-size: 1.5em;
    width: 10em;
    border-radius: 10px;
}


@media screen and (max-width:3840px) {
    #geoB4B-contact{
        padding: 8.5em 17em;
    }
    #geoB4B-contact .title h1{
        font-size: 8em;
        margin: 0;
    }
    #geoB4B-contact .title h2{
        font-size: 6em;
    }
    #geoB4B-contact .text-box label{
        font-size: 4em;
    }
    #geoB4B-contact .text-box input[type="text"]{
        font-size: 4em;
    }
    #geoB4B-contact .text-box input[type="email"]{
        font-size: 4em;
    }
    #geoB4B-contact .text-area label{
        font-size: 4em;
    }
    #geoB4B-contact .text-area textarea{
        font-size: 4em;
    }
    #geoB4B-contact form button{
        font-size: 4em;
        width: 10em;
        border-radius: 1em;
    }
}

@media screen and (max-width:2560px) {
    #geoB4B-contact{
        padding: 7.5em 15em;
    }
    #geoB4B-contact .title h1{
        font-size: 5em;
    }
    #geoB4B-contact .title h2{
        font-size: 3em;
    }
    #geoB4B-contact .text-box label{
        font-size: 3em;
    }
    #geoB4B-contact .text-box input[type="text"]{
        font-size: 3em;
    }
    #geoB4B-contact .text-box input[type="email"]{
        font-size: 3em;
    }
    #geoB4B-contact .text-area label{
        font-size: 3em;
    }
    #geoB4B-contact .text-area textarea{
        font-size: 3em;
    }
    #geoB4B-contact form button{
        font-size: 3em;
        width: 7em;
        border-radius: 1em;
    }
}

@media screen and (max-width:1920px) {
    #geoB4B-contact{
        padding: 5em 10em;
    }
    #geoB4B-contact .title h1{
        font-size: 3.6em;
    }
    #geoB4B-contact .title h2{
        font-size: 2.5em;
    }
    #geoB4B-contact .text-box label{
        font-size: 2em;
    }
    #geoB4B-contact .text-box input[type="text"]{
        font-size: 2em;
    }
    #geoB4B-contact .text-box input[type="email"]{
        font-size: 2em;
    }
    #geoB4B-contact .text-area label{
        font-size: 2em;
    }
    #geoB4B-contact .text-area textarea{
        font-size: 2em;
    }
    #geoB4B-contact form button{
        font-size: 2em;
        width: 5em;
        border-radius: 1em;
    }
}

@media screen and (max-width:1600px) {
    #geoB4B-contact{
        padding: 3.7em 7.5em;
    }
    #geoB4B-contact .title h1{
        font-size: 3em;
    }
    #geoB4B-contact .title h2{
        font-size: 2em;
    }
    #geoB4B-contact .text-box label{
        font-size: 1.7em;
    }
    #geoB4B-contact .text-box input[type="text"]{
        font-size: 1.7em;
    }
    #geoB4B-contact .text-box input[type="email"]{
        font-size: 1.7em;
    }
    #geoB4B-contact .text-area label{
        font-size: 1.7em;
    }
    #geoB4B-contact .text-area textarea{
        font-size: 1.7em;
    }
    #geoB4B-contact form button{
        font-size: 1.7em;
        width: 7em;
        border-radius: 1em;
    }
    
}

@media screen and (max-width:1366px) {
    #geoB4B-contact{
        padding: 2.5em 5em;
    }
    #geoB4B-contact .title h1{
        font-size: 2.7em;
    }
    #geoB4B-contact .title h2{
        font-size: 1.7em;
    }
    #geoB4B-contact .text-box label{
        font-size: 1.3em;
    }
    #geoB4B-contact .text-box input[type="text"]{
        font-size: 1.3em;
    }
    #geoB4B-contact .text-box input[type="email"]{
        font-size: 1.3em;
    }
    #geoB4B-contact .text-area label{
        font-size: 1.3em;
    }
    #geoB4B-contact .text-area textarea{
        font-size: 1.3em;
    }
    #geoB4B-contact form button{
        font-size: 1.3em;
        width: 7em;
        border-radius: 1em;
    }
    
}


@media screen and (max-width:600px) {
    #geoB4B-contact{
        padding: 3em 0 1em 0;
    }
    #geoB4B-contact .title h1{
        font-size: 2em;
    }
    #geoB4B-contact .title h2{
        font-size: 1.5em;
    }
    #geoB4B-contact .text-box{
        width: 98%;
        max-width: 98%;
        margin: 1%;
        padding: 1em;
    }
    #geoB4B-contact .text-area{
        width: 98%;
        max-width: 98%;
        margin: 1%;
        padding: 1em;
    }
}