
#geoB4B-loader {
  position: fixed;
  top:0;
  left: 0;
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: rgba(255,255,255,0.35);
  z-index: 1000;
}

#geoB4B-loader .line {
    animation: expand 1s ease-in-out infinite;
    border-radius: 10px;
    display: inline-block;
    transform-origin: center center;
    margin: 0 3px;
    width: 1px;
    height: 25px;
}

#geoB4B-loader .line:nth-child(1) {
    background: #27ae60;
}

#geoB4B-loader .line:nth-child(2) {
    animation-delay: 180ms;
    background: #f1c40f;
}

#geoB4B-loader .line:nth-child(3) {
    animation-delay: 360ms;
    background: #e67e22;
}

#geoB4B-loader .line:nth-child(4) {
    animation-delay: 540ms;
    background: #2980b9;
}
  
@keyframes expand {
    0% {
        transform: scale(1);
    }
    25% {
        transform: scale(2);
    }
}
  
@keyframes expand {
  0% {
        transform: scale(1);
    }
    25% {
        transform: scale(2);
    }
}
