#geoB4B-testimonials{
    width: 100%;
    color: #939496;
    background-color: #fff;
    padding: 3em 5em;
}

#geoB4B-testimonials .title{
    text-align: center;
}

#geoB4B-testimonials .title h1{
    font-size: 3.6em;
    margin: 1em 0;
    font-weight: bold;
    color: #4B525D;
    text-align: center;
}

#geoB4B-testimonials .title h1 b{
    color: #FD830C;
}

#geoB4B-testimonials .carousel{
    padding: 1em 0;
}

#geoB4B-testimonials .carousel-inner .item {
    padding: 2em 0;
}

#geoB4B-testimonials .carousel-inner .item .carousel-caption{
    text-shadow: 0 1px 2px rgba(255,255,255, 0);
    color: #4B525D;
    font-size: 1.2em;
    position: relative;
    width: 70%;
    margin-left: 15%;
    left: 0;
    padding: 0;
}

#geoB4B-testimonials .carousel-inner .item .carousel-caption{
    align-items: center;
    justify-self: center;
    height: 250px;
    max-height:250px;
}
#geoB4B-testimonials .carousel-inner .item .carousel-caption p{
    padding: 1em;
}

#geoB4B-testimonials .carousel-inner .item .carousel-caption img{
    max-width: 7em;
    max-height: 7em;
}

#geoB4B-testimonials .carousel-control{
    text-shadow: none;
    background-color: transparent;
    color: #939496;
    font-size: 4em;
    cursor: pointer;
}

#geoB4B-testimonials .carousel-control.right{
    background-image: -webkit-linear-gradient(left, rgba(255,255,255, .0001) 0%, rgba(255,255,255, .5) 100%);
    background-image: -o-linear-gradient(left, rgba(255,255,255, .0001) 0%, rgba(255,255,255, .5) 100%);
    background-image: -webkit-gradient(linear, left top, right top, from(rgba(255,255,255, .0001)), to(rgba(255,255,255, .5)));
}
#geoB4B-testimonials .carousel-control.left{
    background-image: -webkit-linear-gradient(left, rgba(255,255,255, .0001) 0%, rgba(255,255,255, .5) 100%);
    background-image: -o-linear-gradient(left, rgba(255,255,255, .0001) 0%, rgba(255,255,255, .5) 100%);
    background-image: -webkit-gradient(linear, left top, right top, from(rgba(255,255,255, .0001)), to(rgba(255,255,255, .5)));
}


@media screen and (max-width:3840px) {
    #geoB4B-testimonials{
        padding: 8.5em 17em;
    }
    #geoB4B-testimonials .carousel-inner .item {
        padding: 2em;
    }
    #geoB4B-testimonials .carousel-control{
        font-size: 10em;
    }
    #geoB4B-testimonials .carousel-inner .item .carousel-caption{
        height: 1000px;
        max-height:1000px;
    }
    #geoB4B-testimonials .carousel-inner .item .carousel-caption img{
        max-height: 200px;
        max-width: 200px;
    }
    #geoB4B-testimonials .title h1{
        font-size: 8em;
    }
    #geoB4B-testimonials .carousel-inner .item  p{
        font-size: 3em;
    }
}

@media screen and (max-width:2560px) {
    #geoB4B-testimonials{
        padding: 7.5em 15em;
    }
    #geoB4B-testimonials .carousel-control{
        font-size: 7.5em;
    }
    #geoB4B-testimonials .carousel-inner .item .carousel-caption{
        height: 700px;
        max-height:700px;
    }
    #geoB4B-testimonials .carousel-inner .item .carousel-caption img{
        max-height: 150px;
        max-width: 150px;
    }
    #geoB4B-testimonials .title h1{
        font-size: 5em;
    }
    #geoB4B-testimonials .carousel-inner .item  p{
        font-size: 2em;
    }
}

@media screen and (max-width:1920px) {
    #geoB4B-testimonials{
        padding: 5em 10em;
    }
    #geoB4B-testimonials .carousel-control{
        font-size: 5em;
    }
    #geoB4B-testimonials .carousel-inner .item .carousel-caption{
        height: 400px;
        max-height:400px;
    }
    #geoB4B-testimonials .carousel-inner .item .carousel-caption img{
        max-height: 100px;
        max-width: 100px;
    }
    #geoB4B-testimonials .title h1{
        font-size: 3.6em;
    }
    #geoB4B-testimonials .carousel-inner .item  p{
        font-size: 1.5em;
    }
}

@media screen and (max-width:1600px) {
    #geoB4B-testimonials{
        padding: 3.7em 7.5em;
    }
    #geoB4B-testimonials .carousel-control{
        font-size: 3em;
    }
    #geoB4B-testimonials .carousel-inner .item .carousel-caption{
        height: 250px;
        max-height:250px;
    }
    #geoB4B-testimonials .carousel-inner .item .carousel-caption img{
        max-height: 70px;
        max-width: 70px;
    }
    #geoB4B-testimonials .title h1{
        font-size: 3em;
    }
    #geoB4B-testimonials .carousel-inner .item  p{
        font-size: 1em;
    }
}

@media screen and (max-width:1366px) {
    #geoB4B-testimonials{
        padding: 2.5em 5em;
    }
    #geoB4B-testimonials .carousel-control{
        font-size: 3em;
    }
    #geoB4B-testimonials .carousel-inner .item .carousel-caption img{
        max-height: 70px;
        max-width: 70px;
    }
    #geoB4B-testimonials .title h1{
        font-size: 2.7em;
    }
    #geoB4B-testimonials .carousel-inner .item  p{
        font-size: 1em;
    }
}

@media screen and (max-width:1000px) {
    #geoB4B-testimonials{
        padding: 2.5em 5em;
    }
    #geoB4B-testimonials .carousel-control{
        font-size: 3em;
    }
    #geoB4B-testimonials .carousel-inner .item .carousel-caption{
        height: 450px;
        max-height:450px;
    }
    #geoB4B-testimonials .carousel-inner .item .carousel-caption img{
        max-height: 70px;
        max-width: 70px;
    }
    #geoB4B-testimonials .title h1{
        font-size: 2.7em;
    }
    #geoB4B-testimonials .carousel-inner .item  p{
        font-size: 1em;
    }
}

@media screen and (max-width:600px) {
    #geoB4B-testimonials{
        padding: 3em 0 1em 0;
    }
    #geoB4B-testimonials .carousel-control{
        font-size: 3em;
        margin-top: 2em;

    }
    #geoB4B-testimonials .carousel-inner .item .carousel-caption{
        height: 450px;
        max-height:450px;
        width: 90%;
        margin-left: 5%;
    }
    #geoB4B-testimonials .carousel-inner .item .carousel-caption img{
        max-height: 70px;
        max-width: 70px;
    }
    #geoB4B-testimonials .title h1{
        font-size: 2.7em;
    }
    #geoB4B-testimonials .carousel-inner .item  p{
        font-size: 0.8em;
    }
}