#geoB4B-what-is{
    width: 100%;
    color: #fff;
    background:linear-gradient(180deg, rgba(105, 80, 80, 0.15) , rgba(0,0,0, 0.15) ),url('../assets/images/fondogeoB4B.jpg');
    background-position: center; 
    background-repeat: no-repeat;
    background-size: cover;
    padding: 3em 5em;
}

#geoB4B-what-is .title{
    text-align: center;
}

#geoB4B-what-is .title img{
    max-width: 100%;
    max-height: 10em;
}

#geoB4B-what-is .cards{
    width:100%;
    position:relative;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: row;
    flex-wrap: wrap;
}

#geoB4B-what-is .card{
    width:100%;
    max-width: 100%;
    padding: 1.5em 1.5em;
    transition: 1s;
    -webkit-transition:0.5s;
    flex: 1 1 auto;
    text-align: center;
}

#geoB4B-what-is .card b{
    color: #4B525D;
}
#geoB4B-what-is .card h1{
    font-size: 1.8em;
    margin: 1em;
    font-weight: bold;
}

#geoB4B-what-is .card hr{
    text-align: center;
    width: 3em;
    border: #fff 2px solid;
    border-radius: 10px;
}
#geoB4B-what-is .card p{
    font-size: 1.8em;
    margin: 1em 0;
}


@media screen and (max-width:3840px) {
    #geoB4B-what-is{
        padding: 17em;
    }
    #geoB4B-what-is .title img{
        max-width: 100%;
        max-height: 20em;
    }
    #geoB4B-what-is .card{
        width:100%;
        max-width: 100%;
        padding: 3em 3em;
    }
    #geoB4B-what-is .card h1{
        font-size: 8em;
    }
    #geoB4B-what-is .card hr{
        width: 10em;
        border: #fff 10px solid;
        border-radius: 20px;
    }
    #geoB4B-what-is .card p{
        font-size: 6em;
    }
}

@media screen and (max-width:2560px) {
    #geoB4B-what-is{
        padding: 15em;
    }
    #geoB4B-what-is .title img{
        max-width: 100%;
        max-height: 15em;
    }
    #geoB4B-what-is .card{
        width:100%;
        max-width: 100%;
        padding: 2.4em 2.4em;
    }
    #geoB4B-what-is .card h1{
        font-size: 5em;
    }
    #geoB4B-what-is .card hr{
        width: 7.5em;
        border: #fff 7.5px solid;
        border-radius: 20px;
    }
    #geoB4B-what-is .card p{
        font-size: 4em;
    }
}

@media screen and (max-width:1920px) {
    #geoB4B-what-is{
        padding: 10em;
    }
    #geoB4B-what-is .title img{
        max-width: 100%;
        max-height: 10em;
    }
    #geoB4B-what-is .card{
        width:100%;
        max-width: 100%;
        padding: 1.5em 1.5em;
    }
    #geoB4B-what-is .card h1{
        font-size: 3.6em;
    }
    #geoB4B-what-is .card hr{
        width: 5em;
        border: #fff 5px solid;
        border-radius: 20px;
    }
    #geoB4B-what-is .card p{
        font-size: 2.5em;
    }
}

@media screen and (max-width:1600px) {
    #geoB4B-what-is{
        padding: 7.5em;
    }
    #geoB4B-what-is .title img{
        max-width: 100%;
        max-height: 7.5em;
    }
    #geoB4B-what-is .card{
        width:100%;
        max-width: 100%;
        padding: 1em 1em;
    }
    #geoB4B-what-is .card h1{
        font-size: 3em;
    }
    #geoB4B-what-is .card hr{
        width: 4em;
        border: #fff 4px solid;
        border-radius: 20px;
    }
    #geoB4B-what-is .card p{
        font-size: 2em;
    }
}

@media screen and (max-width:1366px) {
    #geoB4B-what-is{
        padding: 5em;
    }
    #geoB4B-what-is .title img{
        max-width: 100%;
        max-height: 7.5em;
    }
    #geoB4B-what-is .card{
        width:100%;
        max-width: 100%;
        padding: 1em;
    }
    #geoB4B-what-is .card h1{
        font-size: 2.7em;
    }
    #geoB4B-what-is .card p{
        font-size: 1.7em;
    }
}

@media screen and (max-width:1000px) {
    #geoB4B-what-is{
        padding: 5em;
    }
    #geoB4B-what-is .title img{
        max-width: 100%;
        max-height: 7.5em;
    }
    #geoB4B-what-is .card{
        width:100%;
        max-width: 100%;
        padding: 1em;
    }
    #geoB4B-what-is .card h1{
        font-size: 2.7em;
    }
    #geoB4B-what-is .card p{
        font-size: 2em;
    }
}

@media screen and (max-width:600px) {
    #geoB4B-what-is{
        padding: 3em 0 1em 0;
    }
    #geoB4B-what-is .title img{
        max-width: 100%;
        max-height: 5em;
    }
    #geoB4B-what-is .card{
        width:100%;
        max-width: 100%;
        padding: 0.5;
    }
    #geoB4B-what-is .card h1{
        font-size: 2em;
    }
    #geoB4B-what-is .card p{
        font-size: 1.5em;
    }
}
