#geoB4B-verify{
    position: fixed;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    display: none;
    align-items: center;
    justify-content: center;
    z-index: 9000;
    background-color: #FD830C;
}

#geoB4B-verify .card{
    width: 50%;
    text-align: center;
    color: #fff;
}

#geoB4B-verify .card h4{
    font-size: 4em;
}

#geoB4B-verify .card button{
    border: 2px solid #fff;
    margin: 2em 0;
    background-color: transparent;
    font-size: 2.5em;
}

#geoB4B-verify .card button:hover{
    background-color: #fff;
    color: #FD830C;
}


@media screen and (max-width:3840px) {
    #geoB4B-verify .card{
        width: 50%;
    }
    
    #geoB4B-verify .card h4{
        font-size: 8em;
    }
    
    #geoB4B-verify .card button{
        border: 4px solid #fff;
        font-size: 5em;
    }
}

@media screen and (max-width:2560px) {
    #geoB4B-verify .card{
        width: 50%;
    }
    
    #geoB4B-verify .card h4{
        font-size: 6em;
    }
    
    #geoB4B-verify .card button{
        border: 3px solid #fff;
        font-size: 3.5em;
    }
}

@media screen and (max-width:1920px) {
    #geoB4B-verify .card{
        width: 50%;
    }
    
    #geoB4B-verify .card h4{
        font-size: 4em;
    }
    
    #geoB4B-verify .card button{
        border: 2px solid #fff;
        font-size: 2.5em;
    }
}

@media screen and (max-width:1600px) {
    #geoB4B-verify .card{
        width: 50%;
    }
    
    #geoB4B-verify .card h4{
        font-size: 4em;
    }
    
    #geoB4B-verify .card button{
        border: 2px solid #fff;
        font-size: 2.5em;
    }
}

@media screen and (max-width:1366px) {
    #geoB4B-verify .card{
        width: 50%;
    }
    
    #geoB4B-verify .card h4{
        font-size: 3.5em;
    }
    
    #geoB4B-verify .card button{
        border: 2px solid #fff;
        font-size: 2em;
    }
}

@media screen and (max-width:1280px) {
    #geoB4B-verify .card{
        width: 70%;
    }
}


@media screen and (max-width:600px) {
    #geoB4B-verify .card{
        width: 90%;
    }
    
    #geoB4B-verify .card h4{
        font-size: 1.7em;
    }
    
    #geoB4B-verify .card button{
        border: 1px solid #fff;
        font-size: 1.3em;
    }
}