
#geoB4B-pop-up-feature-info{
    color: #939496;
}

#geoB4B-pop-up-feature-info .pop-up-feature-info-item{
    padding: 0;
}

#geoB4B-pop-up-feature-info .pop-up-feature-info-item h4{
    background-color: #FD830C;
    padding: 1em;
    color: #fff;
    text-align: center;
}

#geoB4B-pop-up-feature-info .pop-up-feature-info-item table tr td{
    border: #939496 1px solid;
    margin: 0;
    padding: 1em;
    text-align: left;
    font-family: 'Lato', sans-serif;
}


