#geoB4B-package{
    width: 100%;
    color: #939496;
    background:url('../assets/images/fondo_planes.png');
    background-position: center; 
    background-repeat: no-repeat;
    background-size: cover;
    padding: 5em;
}

#geoB4B-package .title{
    text-align: center;
}

#geoB4B-package .title h1{
    font-size: 3.6em;
    margin: 0 1em;
    font-weight: bold;
    color: #fff;
    text-align: left;
}

#geoB4B-package .title h2{
    font-size: 2.7em;
    color: #fff;
}


#geoB4B-package .cards{
    width:100%;
    padding: 0 3em;
    position:relative;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: row;
    flex-wrap: wrap;
}

#geoB4B-package .card{
    width:23%;
    max-width: 23%;
    margin: 1%;
    padding: 0;
    transition: 1s;
    -webkit-transition:0.5s;
    flex: 1 1 auto;
    text-align: center;
}

#geoB4B-package .card .head{
    color: #fff;
    padding: 1em 2em;
    margin: 0;
    height: 250px;
    border-top-left-radius: 2em;
    border-top-right-radius: 2em;
}

#geoB4B-package .card .head-1{
    background-color: #FEAA58;
}
#geoB4B-package .card .head-2{
    background-color: #FD9025;
}
#geoB4B-package .card .head-3{
    background-color: #EE7602;
}
#geoB4B-package .card .head-4{
    background-color: #BB5D02;
}

#geoB4B-package .card .head h3{
    font-size: 2.3em;
}

#geoB4B-package .card .head img{
    max-width: 7em;
    height: 7em;
}

#geoB4B-package .card .content{
    color: #575D67;
    background-color: #E7E7E7;
    margin: 0;
    padding: 0;
    border-bottom-left-radius: 2em;
    border-bottom-right-radius: 2em;
}

#geoB4B-package .card .content h4{
    font-size: 1.7em;
    margin: 1em;
    display: none;
}

#geoB4B-package .card .content ul{
    list-style: none;
    height: 300px;
    padding: 2em;
}

#geoB4B-package .card .content ul li{
    text-align: left;
    font-size: 1.5em;
}

#geoB4B-package .card .content ul li i{
    color: #FD830C;
    font-size: 0.5em;
    margin-right: 1em;
}

#geoB4B-package .card .content a{
    border: none;
    color: #fff;
    padding: 0em;
    font-size: 1.5em;
    width: 100%;
    border-radius: 1em;
}

#geoB4B-package .card #Paquete-1{
    background-color: #FEAA58;
}
#geoB4B-package .card #Paquete-2{
    background-color: #FD9025;
}
#geoB4B-package .card #Paquete-3{
    background-color: #EE7602;
}
#geoB4B-package .card #Paquete-4{
    background-color: #BB5D02;
}

#geoB4B-package .card .content a:hover{
    text-decoration: underline;
}

@media screen and (max-width:3840px) {
    #geoB4B-package{
        padding: 8.5em 17em;
    }
    #geoB4B-package .title h1{
        font-size: 8em;
        margin: 0 1em;
    }
    #geoB4B-package .title h2{
        font-size: 6em;
    }
    #geoB4B-package .card .head{
        padding: 2em 4em;
        height: 500px;
    }
    #geoB4B-package .card .head h3{
        font-size: 5em;
        margin-bottom: 0.5em;
    }
    #geoB4B-package .card .head img{
        max-width: 15em;
        height: 15em;
    }
    #geoB4B-package .card .content ul{
        height: 600px;
        padding: 4em;
    }
    #geoB4B-package .card .content ul li{
        font-size: 3em;
    }
    #geoB4B-package .card .content ul li i{
        font-size: 1em;
    }
    #geoB4B-package .card .content a{
        padding: 1em;
        font-size: 3em;
        border-radius: 0.5em;
    }
}

@media screen and (max-width:2560px) {
    #geoB4B-package{
        padding: 7.5em 15em;
    }
    #geoB4B-package .title h1{
        font-size: 5em;
        margin: 0 1em;
    }
    #geoB4B-package .title h2{
        font-size: 4em;
    }
    #geoB4B-package .card .head{
        padding: 1.7em 3em;
        height: 400px;
    }
    #geoB4B-package .card .head h3{
        font-size: 3.5em;
        margin-bottom: 0.5em;
    }
    #geoB4B-package .card .head img{
        max-width: 11em;
        height: 11em;
    }
    #geoB4B-package .card .content ul{
        height: 500px;
        padding: 2.8em;
    }
    #geoB4B-package .card .content ul li{
        font-size: 2.1em;
    }
    #geoB4B-package .card .content ul li i{
        font-size: 1em;
    }
    #geoB4B-package .card .content a{
        padding: 1em;
        font-size: 2.1em;
        border-radius: 0.5em;
    }
}

@media screen and (max-width:1920px) {
    #geoB4B-package{
        padding: 5em 10em;
    }
    #geoB4B-package .title h1{
        font-size: 3.6em;
        margin: 0 1em;
    }
    #geoB4B-package .title h2{
        font-size: 2.5em;
    }
    #geoB4B-package .card .head{
        padding: 1em 2em;
        height: 250px;
    }
    #geoB4B-package .card .head h3{
        font-size: 2.3em;
        margin-bottom: 0.5em;
    }
    #geoB4B-package .card .head img{
        max-width: 7em;
        height: 7em;
    }
    #geoB4B-package .card .content ul{
        height: 310px;
        padding: 2em;
    }
    #geoB4B-package .card .content ul li{
        font-size: 1.5em;
    }
    #geoB4B-package .card .content ul li i{
        font-size: 0.7em;
    }
    #geoB4B-package .card .content a{
        padding: 0.5em;
        font-size: 2em;
        border-radius: 0.5em;
    }
}

@media screen and (max-width:1600px) {
    #geoB4B-package{
        padding: 3.7em 7.5em;
    }
    #geoB4B-package .title h1{
        font-size: 3em;
        margin: 0 1em;
    }
    #geoB4B-package .title h2{
        font-size: 2em;
    }
    #geoB4B-package .card .head{
        padding: 1em 2em;
        height: 220px;
    }
    #geoB4B-package .card .head h3{
        font-size: 2em;
        margin-bottom: 0.5em;
    }
    #geoB4B-package .card .head img{
        max-width: 6em;
        height: 6em;
    }
    #geoB4B-package .card .content ul{
        height: 250px;
        padding: 2em;
    }
    #geoB4B-package .card .content ul li{
        font-size: 1.3em;
    }
    #geoB4B-package .card .content ul li i{
        font-size: 0.7em;
    }
    #geoB4B-package .card .content a{
        padding: 0.5em;
        font-size: 1.3em;
        border-radius: 0.5em;
    }
}

@media screen and (max-width:1366px) {
    #geoB4B-package{
        padding: 2.5em 5em;
    }
    #geoB4B-package .title h1{
        font-size: 2.7em;
        margin: 0 1em;
    }
    #geoB4B-package .title h2{
        font-size: 1.7em;
    }
    #geoB4B-package .card .head{
        padding: 1em 2em;
        height: 200px;
    }
    #geoB4B-package .card .head h3{
        font-size: 1.7em;
        margin-bottom: 0.5em;
    }
    #geoB4B-package .card .head img{
        max-width: 5.5em;
        height: 5.5em;
    }
    #geoB4B-package .card .content ul{
        height: 260px;
        padding: 2em;
    }
    #geoB4B-package .card .content ul li{
        font-size: 1.1em;
    }
    #geoB4B-package .card .content ul li i{
        font-size: 0.7em;
    }
    #geoB4B-package .card .content a{
        padding: 0.5em;
        font-size: 1.1em;
        border-radius: 1em;
    }
}

@media screen and (max-width:1200px) {
    #geoB4B-package{
        padding: 2.5em 5em;
    }
    #geoB4B-package .card{
        width: 40%;
        max-width: 40%;
        margin: 5%;
    }
}

@media screen and (max-width:1000px) {
    #geoB4B-package{
        padding: 2.5em 5em;
    }
    #geoB4B-package .card{
        width: 44%;
        max-width: 44%;
        margin: 3%;
    }
    
}

@media screen and (max-width:600px) {
    #geoB4B-package{
        padding: 3em 0 1em 0;
    }
    #geoB4B-package .title h1{
        font-size: 2em;
        margin: 0 1em;
    }
    #geoB4B-package .title h2{
        font-size: 1.5em;
    }
    #geoB4B-package .card .head{
        height: 200px;
    }
    #geoB4B-package .card{
        width: 100%;
        max-width: 100%;
        padding: 0;
        margin: 1.5em 0;
    }
}