#geoB4B-opportunities{
    width: 100%;
    color: #939496;
    background:url('../assets/images/fondomark_ventas-03-03.png');
    background-position: center; 
    background-repeat: no-repeat;
    background-size: cover;
    padding: 3em 5em;
}

#geoB4B-opportunities .cards{
    width:100%;
    padding: 0 3em;
    position:relative;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: row;
    flex-wrap: wrap;
}

#geoB4B-opportunities .card{
    width:50%;
    max-width: 50%;
    padding: 2em ;
    transition: 1s;
    -webkit-transition:0.5s;
    flex: 1 1 auto;
    text-align: center;
}

#geoB4B-opportunities .card h1{
    font-size: 3.6em;
    font-weight: bold;
    margin: 1em 0;
    text-align: left;
    color: #4B525D;
}

#geoB4B-opportunities .card p{
    font-size: 1.8em;
    margin: 1em 0;
    text-align: left;
}

#geoB4B-opportunities .card img{
    max-width: 100%;
    max-height: 300px;
    margin: 0em;
}


@media screen and (max-width:3840px) {
    #geoB4B-opportunities{
        padding: 8.5em 17em;
    }
    #geoB4B-opportunities .card{
        padding: 2em;
    }
    #geoB4B-opportunities .card img{
        max-height: 800px;
    }
    #geoB4B-opportunities .card h1{
        font-size: 8em;
    }
    #geoB4B-opportunities .card p{
        font-size: 6em;
    }
}

@media screen and (max-width:2560px) {
    #geoB4B-opportunities{
        padding: 7.5em 15em;
    }
    #geoB4B-opportunities .card img{
        max-height: 600px;
    }
    #geoB4B-opportunities .card h1{
        font-size: 5em;
    }
    #geoB4B-opportunities .card p{
        font-size: 4em;
    }
}

@media screen and (max-width:1920px) {
    #geoB4B-opportunities{
        padding: 5em 10em;
    }
    #geoB4B-opportunities .card img{
        max-height: 400px;
    }
    #geoB4B-opportunities .card h1{
        font-size: 3.6em;
    }
    #geoB4B-opportunities .card p{
        font-size: 2.5em;
    }
}

@media screen and (max-width:1600px) {
    #geoB4B-opportunities{
        padding: 3.7em 7.5em;
    }
    #geoB4B-opportunities .card img{
        max-height: 300px;
    }
    #geoB4B-opportunities .card h1{
        font-size: 3em;
    }
    #geoB4B-opportunities .card p{
        font-size: 2em;
    }
}

@media screen and (max-width:1366px) {
    #geoB4B-opportunities{
        padding: 2.5em 5em;
    }
    #geoB4B-opportunities .card img{
        max-height: 300px;
    }
    #geoB4B-opportunities .card h1{
        font-size: 2.7em;
    }
    #geoB4B-opportunities .card p{
        font-size: 1.7em;
    }
}

@media screen and (max-width:1000px) {
    #geoB4B-opportunities{
        padding: 2.5em 5em;
    }
    #geoB4B-opportunities .card{
        width: 98%;
        max-width: 98%;
    }
    #geoB4B-opportunities .card img{
        max-height: 250px;
    }
    #geoB4B-opportunities .card h1{
        font-size: 2.7em;
    }
    #geoB4B-opportunities .card p{
        font-size: 1.7em;
    }
}

@media screen and (max-width:600px) {
    #geoB4B-opportunities{
        padding: 3em 0 1em 0;
    }
    #geoB4B-opportunities .card{
        width: 100%;
        max-width: 100%;
        padding: 0;
        margin: 0;
    }
    #geoB4B-opportunities .card img{
        max-height: 200px;
    }
    #geoB4B-opportunities .card h1{
        font-size: 2em;
    }
    #geoB4B-opportunities .card p{
        font-size: 1.5em;
    }
}
