#geoB4B-footer{
    width: 100%;
    padding: 3em 0 0 0;
    background-color: #fff;
    color: #939496;
}

#geoB4B-footer .cards{
    width:100%;
    position:relative;
    display: flex;
    justify-content: center;
    flex-direction: row;
    flex-wrap: wrap;
}

#geoB4B-footer .card{
    width:21%;
    max-width: 21%;
    margin: 0 2%;
    transition: 1s;
    -webkit-transition:0.5s;
    flex: 1 1 auto;
}


#geoB4B-footer .card h1{
    font-weight: bold;
    color: #4B525D;
    font-size: 1.8em;
}

#geoB4B-footer .card  h3{
    margin: 1em 0;
    color: #4B525D;
    font-size: 1.3em;
}

#geoB4B-footer .card ul{
    padding: 0em;
}

#geoB4B-footer .card ul li{
    margin: 1.3em 0;
    list-style: none;
}

#geoB4B-footer .card ul li i{
    margin-right: 1em;
}


#geoB4B-footer .card ul li a{
    color: #939496;
}

#geoB4B-footer .card ul li a:hover{
    color: #FD830C;
}

#geoB4B-footer  .cards .group{
    width:100%;
    max-width: 100%;
    margin: 1em 0;
    transition: 1s;
    -webkit-transition:0.5s;
    flex: 1 1 auto;
}

#geoB4B-footer  .cards .group ul{
    list-style: none;
    display: flex;
    justify-content: center;
    align-items: center;
}

#geoB4B-footer  .cards .group li img{
    max-height: 5em;
    max-width: 10em;
    margin: 0 3em;
}

#geoB4B-footer .copyright{
    text-align: center;
    padding: 1em;
    color: #4B525D;
}


@media screen and (max-width:3840px) {
    #geoB4B-footer{
        padding: 8.5em 17em;
    }
    #geoB4B-footer .card{
        padding: 2em;
    }
    #geoB4B-footer .card h1{
        font-size: 4em;
    }
    #geoB4B-footer .card h3{
        font-size: 3em;
    }
    #geoB4B-footer .card ul li{
        font-size: 2.5em;
    }
    #geoB4B-footer  .cards .group li img{
        max-height: 10em;
        max-width: 20em;
        margin: 0 6em;
    }
    #geoB4B-footer .copyright{
        font-size: 3em;
    }
}

@media screen and (max-width:2560px) {
    #geoB4B-footer{
        padding: 7.5em 15em;
    }
    #geoB4B-footer .card h1{
        font-size: 3em;
    }
    #geoB4B-footer .card h3{
        font-size: 2em;
    }
    #geoB4B-footer .card ul li{
        font-size: 1.8em;
    }
    #geoB4B-footer  .cards .group li img{
        max-height: 8em;
        max-width: 16em;
        margin: 0 4em;
    }
    #geoB4B-footer .copyright{
        font-size: 2em;
    }
}

@media screen and (max-width:1920px) {
    #geoB4B-footer{
        padding: 5em 10em;
    }
    #geoB4B-footer .card h1{
        font-size: 2.5em;
    }
    #geoB4B-footer .card h3{
        font-size: 1.8em;
    }
    #geoB4B-footer .card ul li{
        font-size: 1.3em;
    }
    #geoB4B-footer  .cards .group li img{
        max-height: 4em;
        max-width: 10em;
        margin: 0 4em;
    }
    #geoB4B-footer .copyright{
        font-size: 1.8em;
    }
}

@media screen and (max-width:1600px) {
    #geoB4B-footer{
        padding: 3.7em 7.5em;
    }
    #geoB4B-footer .card h1{
        font-size: 2em;
    }
    #geoB4B-footer .card h3{
        font-size: 1.3em;
    }
    #geoB4B-footer .card ul li{
        font-size: 1em;
    }
    #geoB4B-footer  .cards .group li img{
        max-height: 3em;
        max-width: 6em;
        margin: 0 2em;
    }
    #geoB4B-footer .copyright{
        font-size: 1.3em;
    }
}

@media screen and (max-width:1366px) {
    #geoB4B-footer{
        padding: 2.5em 5em;
    }
    #geoB4B-footer .card h1{
        font-size: 1.8em;
    }
    #geoB4B-footer .card h3{
        font-size: 1em;
    }
    #geoB4B-footer .card ul li{
        font-size: 0.8em;
    }
    #geoB4B-footer  .cards .group li img{
        max-height: 3em;
        max-width: 6em;
        margin: 0 2em;
    }
    #geoB4B-footer .copyright{
        font-size: 1em;
    }
}

@media screen and (max-width:1000px) {
    #geoB4B-footer{
        padding: 2.5em 5em;
    }
    #geoB4B-footer .card{
        width: 48%;
        max-width: 48%;
        margin: 0 1%;
    }
    
}

@media screen and (max-width:600px) {
    #geoB4B-footer{
        padding: 3em 0 1em 0;
    }
    #geoB4B-footer .card{
        width: 100%;
        max-width: 100%;
        padding: 0;
        margin: 2em;
    }
    #geoB4B-footer  .cards .group ul{
        list-style: none;
        display: block;
        margin: 0;
    }
    #geoB4B-footer  .cards .group li img{
        max-height: 100%;
        max-width: 5em;
        margin: 1em 0;
    }
}

