.geoB4B-navbar-nav {
    width: 100%;
    height: 65px;
    position: fixed;
    text-align: center;
    z-index: 11;
    background-color: transparent;
    top:0;
    left: 0;
    transition: all 0.3s cubic-bezier(.25,.8,.25,1);
}

.geoB4B-navbar-nav.scrolled{
    background-color: #fff;
    box-shadow: 0 1px 3px rgba(0,0,0,0.12), 0 1px 2px rgba(0,0,0,0.24);
}

.geoB4B-link{
    text-decoration: none;
    color: #fff;
}
.geoB4B-link:hover{
    text-decoration: none;
}

.geoB4B-link.scrolled{
    color: #555;
}

.geoB4B-facebook.scrolled{
    color: #39579A;
}
.geoB4B-twitter.scrolled{
    color: #11C1FF;
}
.geoB4B-instagram.scrolled{
    color: #FD3770;
}

.geoB4B-navbar-nav div.logo {
    float: left;
    width: auto;
    height: auto;
    margin-top: -0.5em;
    padding-left: 3em;
}

.geoB4B-navbar-nav div.logo a {
    text-decoration: none;
}

.geoB4B-navbar-nav div.logo a img{
    max-width: 120px;
    max-height: 60px;
}

.geoB4B-navbar-nav .main_list {
    float: left;
    margin-left: 3em;
}


.geoB4B-navbar-nav .main_list ul {
    width: 100%;
    height: 65px;
    display: flex;
    list-style: none;
    margin: 0;
    padding: 0;
    font-size: 1.5em;
}

.geoB4B-navbar-nav .main_list ul li {
    width: auto;
    height: 65px;
    padding: 0;
}

.geoB4B-navbar-nav .main_list ul li a:focus{
    text-decoration: none;
}

.geoB4B-navbar-nav .main_list ul li a:hover {
    color: #939497;
    padding-bottom: 0.5em;
    border-bottom: #FD830C 3px solid;
}

.geoB4B-navbar-nav .social_list {
    float: right;
    margin-right: 1em;
    display: block;
}


.geoB4B-navbar-nav .social_list ul {
    width: 100%;
    height: 65px;
    display: flex;
    list-style: none;
    margin: 0;
    padding: 0;
    font-size: 1.5em;
}

.geoB4B-navbar-nav .social_list ul li {
    width: auto;
    height: 65px;
    padding: 0;
    padding-right: 4rem;
}

.geoB4B-navbar-nav .social_list ul li a{
    color: #fff;
}



.geoB4B-navbar-nav .social_list ul li a:focus{
    text-decoration: none;
}

.geoB4B-navbar-nav .social_list ul li a:hover {
    color: #FD830C;
}


.geoB4B-navbar-navTrigger {
    display: none;
    color: #FD830C;
}

.geoB4B-navbar-nav {
    -webkit-transition: all 0.4s ease;
    transition: all 0.4s ease;
}


.geoB4B-navbar-navTrigger {
    cursor: pointer;
    width: 30px;
    height: 25px;
    margin: auto;
    position: absolute;
    right: 30px;
    top: 0;
    bottom: 0;
}

.geoB4B-navbar-navTrigger-line {
    background-color: #fff;
    border-radius: 2px;
    content: '';
    display: block;
    width: 100%;
    height: 4px;
}

.geoB4B-navbar-navTrigger-line.scrolled {
    background-color: #555;
}

.geoB4B-navbar-navTrigger-line:nth-child(1) {
    -webkit-animation: outT 0.8s backwards;
    animation: outT 0.8s backwards;
    -webkit-animation-direction: reverse;
    animation-direction: reverse;
}

.geoB4B-navbar-navTrigger-line:nth-child(2) {
    margin: 5px 0;
    -webkit-animation: outM 0.8s backwards;
    animation: outM 0.8s backwards;
    -webkit-animation-direction: reverse;
    animation-direction: reverse;
}

.geoB4B-navbar-navTrigger-line:nth-child(3) {
    -webkit-animation: outBtm 0.8s backwards;
    animation: outBtm 0.8s backwards;
    -webkit-animation-direction: reverse;
    animation-direction: reverse;
}

.geoB4B-navbar-navTrigger.active i:nth-child(1) {
    -webkit-animation: inT 0.8s forwards;
    animation: inT 0.8s forwards;
}

.geoB4B-navbar-navTrigger.active i:nth-child(2) {
    -webkit-animation: inM 0.8s forwards;
    animation: inM 0.8s forwards;
}

.geoB4B-navbar-navTrigger.active i:nth-child(3) {
    -webkit-animation: inBtm 0.8s forwards;
    animation: inBtm 0.8s forwards;
}



@media screen and (max-width:3840px) {
    .geoB4B-navbar-nav {
        width: 100%;
        height: 150px;
        z-index: 4000;
    }
    .geoB4B-navbar-nav div.logo {
        margin-top: 1em;
        padding-left: 1em;
    }
    .geoB4B-navbar-nav div.logo a img{
        max-width: 250px;
        max-height: 130px;
    }
    .geoB4B-navbar-nav .main_list ul {
        width: 100%;
        height: 150px;
        font-size: 3.6em;
        margin: 0 0 0 3em;
    }
    .geoB4B-navbar-nav .main_list ul li {
        height: 150px;
        padding: 40px 3em 0 0;
    }
    .geoB4B-navbar-nav .social_list {
        margin-right: 3em;
    }
    .geoB4B-navbar-nav .social_list ul {
        width: 100%;
        height: 150px;
        font-size: 3.6em;
        margin: 0 0 0 3em;
    }
    .geoB4B-navbar-nav .social_list ul li {
        height: 150px;
        padding: 40px 3em 0 0;
    }
    .hide-links-nav{
        display: none;
    }
}

@media screen and (max-width:2560px) {
    .geoB4B-navbar-nav {
        width: 100%;
        height: 100px;
    }
    .geoB4B-navbar-nav div.logo {
        margin-top: 1em;
        padding-left: 1em;
    }
    .geoB4B-navbar-nav div.logo a img{
        max-width: 250px;
        max-height: 100px;
    }
    .geoB4B-navbar-nav .main_list ul {
        width: 100%;
        height: 100px;
        font-size: 2.7em;
        margin: 0 0 0 2em;
    }
    .geoB4B-navbar-nav .main_list ul li {
        height: 100px;
        padding: 20px 3em 0 0;
    }
    .geoB4B-navbar-nav .social_list {
        margin-right: 2em;
    }
    .geoB4B-navbar-nav .social_list ul {
        width: 100%;
        height: 100px;
        font-size: 2.7em;
        margin: 0 0 0 2em;
    }
    .geoB4B-navbar-nav .social_list ul li {
        height: 100px;
        padding: 20px 3em 0 0;
    }
}

@media screen and (max-width:1920px) {
    .geoB4B-navbar-nav {
        width: 100%;
        height: 70px;
    }
    .geoB4B-navbar-nav div.logo {
        margin-top: 1em;
        padding-left: 1em;
    }
    .geoB4B-navbar-nav div.logo a img{
        max-width: 250px;
        max-height: 70px;
    }
    .geoB4B-navbar-nav .main_list ul {
        width: 100%;
        height: 70px;
        font-size: 2em;
        margin: 0 0 0 1em;
    }
    .geoB4B-navbar-nav .main_list ul li {
        height: 70px;
        padding: 10px 3em 0 0;
    }
    .geoB4B-navbar-nav .social_list {
        margin-right: 1em;
    }
    .geoB4B-navbar-nav .social_list ul {
        width: 100%;
        height: 70px;
        font-size: 2em;
        margin: 0 0 0 1em;
    }
    .geoB4B-navbar-nav .social_list ul li {
        height: 70px;
        padding: 10px 3em 0 0;
    }
}

@media screen and (max-width:1600px) {
    .geoB4B-navbar-nav {
        width: 100%;
        height: 60px;
    }
    .geoB4B-navbar-nav div.logo {
        margin-top: 1em;
        padding-left: 1em;
    }
    .geoB4B-navbar-nav div.logo a img{
        max-width: 250px;
        max-height: 60px;
    }
    .geoB4B-navbar-nav .main_list ul {
        width: 100%;
        height: 60px;
        font-size: 1.7em;
        margin: 0 0 0 1em;
    }
    .geoB4B-navbar-nav .main_list ul li {
        height: 60px;
        padding: 10px 2em 0 0;
    }
    .geoB4B-navbar-nav .social_list {
        margin-right: 1em;
    }
    .geoB4B-navbar-nav .social_list ul {
        width: 100%;
        height: 60px;
        font-size: 1.7em;
        margin: 0 0 0 1em;
    }
    .geoB4B-navbar-nav .social_list ul li {
        height: 60px;
        padding: 10px 2em 0 0;
    }
}

@media screen and (max-width:1366px) {
    .geoB4B-navbar-nav {
        width: 100%;
        height: 55px;
    }
    .geoB4B-navbar-nav div.logo {
        margin-top: 1em;
        padding-left: 1em;
    }
    .geoB4B-navbar-nav div.logo a img{
        max-width: 250px;
        max-height: 55px;
    }
    .geoB4B-navbar-nav .main_list ul {
        width: 100%;
        height: 55px;
        font-size: 1.4em;
        margin: 0 0 0 1em;
    }
    .geoB4B-navbar-nav .main_list ul li {
        height: 55px;
        padding: 10px 2em 0 0;
    }
    .geoB4B-navbar-nav .social_list {
        margin-right: 1em;
    }
    .geoB4B-navbar-nav .social_list ul {
        width: 100%;
        height: 55px;
        font-size: 1.4em;
        margin: 0 0 0 1em;
    }
    .geoB4B-navbar-nav .social_list ul li {
        height: 55px;
        padding: 10px 2em 0 0;
    }
}


@media screen and (max-width:1024px) {
    
    .geoB4B-navbar-navTrigger {
        display: block;
    }

    .geoB4B-navbar-nav div.logo {
        margin-left: 0;
    }

    .geoB4B-navbar-nav div.logo a img{
        max-width: 250px;
        max-height: 40px;
    }

    .geoB4B-navbar-nav .main_list {
        width: 110%;
        height: 0;
        position: fixed;
        left: -100px;
        top: 54px;
        overflow: hidden;
    }
    .geoB4B-navbar-nav div.show_list {
        height: auto;
        display: none;
        
    }
    .geoB4B-navbar-nav .main_list ul {
        flex-direction: column;
        width: 100%;
        height: 100vh;
        background-color: rgba(255,255,255,0.9);
        display: flex;
        justify-content: center;
        align-items: center;
        
    }
    .geoB4B-navbar-nav .main_list ul li {
        width: 100%;
        text-align: center;
        padding: 3em 0;
    }
    .geoB4B-navbar-nav .main_list ul li a{
        color: #555;
        text-align: center;
        width: 100%;
        font-size: 2rem;
    }

    .geoB4B-navbar-nav .social_list {
        display: none;
    }
    .hide-links-nav{
        display: block;
    }
}

@media screen and (max-width:700px) {
    .geoB4B-navbar-nav div.logo a img{
        max-width: 200px;
        max-height: 32px;
    }
    .geoB4B-navbar-nav .main_list {
        width: 120%;
        top: 55px;
    }
    .geoB4B-navbar-nav .main_list ul li {
        padding: 1em 0;
    }
}