#geoB4B-blog{
    width: 100%;
    color: #939496;
    background-color: #F6F7F7;
    padding: 3em 5em;
}

#geoB4B-blog .title{
    text-align: center;
}

#geoB4B-blog .title h1{
    font-size: 3.6em;
    margin: 1em 0;
    font-weight: bold;
    color: #4B525D;
    text-align: center;
}

#geoB4B-blog .title h1 b{
    color: #FD830C;
}

#geoB4B-blog button{
    background-color: #FD830C;
    border: none;
    color: #fff;
    padding: 0.5em;
    font-size: 1.5em;
    width: 10em;
    border-radius: 10px;
}

#geoB4B-blog .cards{
    width:100%;
    padding: 0 3em;
    position:relative;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: row;
    flex-wrap: wrap;
}




#geoB4B-blog .card{
    width:21%;
    max-width: 21%;
    margin: 2em 2%;
    padding: 0;
    transition: 1s;
    -webkit-transition:0.5s;
    flex: 1 1 auto;
    text-align: center;
    cursor: pointer;
    border: transparent;
    border-bottom-left-radius: 4em;
    border-bottom-right-radius: 4em;
}

#geoB4B-blog .card:hover{
    box-shadow: 0 14px 28px rgba(0,0,0,0.25), 0 10px 10px rgba(0,0,0,0.22);
}

#geoB4B-blog .card .head{
    padding: 1em 2em;
    margin: 0;
    height: 150px;
}

#geoB4B-blog .card a:hover{
    text-decoration: none;
}

#geoB4B-blog .card .content{
    background-color: #3D434C;
    margin: 0;
    padding: 1em;
    border-bottom-left-radius: 4em;
    border-bottom-right-radius: 4em;
}

#geoB4B-blog .card .content h3{
    color: #fff;
    font-size: 1.5em;
}

#geoB4B-blog .card .content p{
    font-size: 1.2em;
    color: #939496;
    overflow: hidden;
    position: relative; 
    line-height: 1.2em;
    max-height: 3.6em; 
    text-align: justify;  
    padding-right: 1em;
}



#geoB4B-blog .card .content p::before{
    content: '...';
    position: absolute;
    right: 0;
    bottom: 0;
}

#geoB4B-blog .card .content p::after{
    content: '';
    position: absolute;
    right: 0;
    width: 1em;
    height: 1em;
    margin-top: 0.2em;
    background: transparent;
}

#geoB4B-blog .card{
    transform: scale(1.05);
}



#geoB4B-blog .card-alt .spinner {
  -webkit-animation: rotator 1.4s linear infinite;
          animation: rotator 1.4s linear infinite;
}

@-webkit-keyframes rotator {
  0% {
    -webkit-transform: rotate(0deg);
            transform: rotate(0deg);
  }
  100% {
    -webkit-transform: rotate(270deg);
            transform: rotate(270deg);
  }
}

@keyframes rotator {
  0% {
    -webkit-transform: rotate(0deg);
            transform: rotate(0deg);
  }
  100% {
    -webkit-transform: rotate(270deg);
            transform: rotate(270deg);
  }
}
#geoB4B-blog .card-alt .path {
  stroke-dasharray: 187;
  stroke-dashoffset: 0;
  -webkit-transform-origin: center;
          transform-origin: center;
  -webkit-animation: dash 1.4s ease-in-out infinite, colors 5.6s ease-in-out infinite;
          animation: dash 1.4s ease-in-out infinite, colors 5.6s ease-in-out infinite;
}

@-webkit-keyframes colors {
  0% {
    stroke: #4285F4;
  }
  25% {
    stroke: #DE3E35;
  }
  50% {
    stroke: #F7C223;
  }
  75% {
    stroke: #1B9A59;
  }
  100% {
    stroke: #4285F4;
  }
}

@keyframes colors {
  0% {
    stroke: #4285F4;
  }
  25% {
    stroke: #DE3E35;
  }
  50% {
    stroke: #F7C223;
  }
  75% {
    stroke: #1B9A59;
  }
  100% {
    stroke: #4285F4;
  }
}
@-webkit-keyframes dash {
  0% {
    stroke-dashoffset: 187;
  }
  50% {
    stroke-dashoffset: 46.75;
    -webkit-transform: rotate(135deg);
            transform: rotate(135deg);
  }
  100% {
    stroke-dashoffset: 187;
    -webkit-transform: rotate(450deg);
            transform: rotate(450deg);
  }
}
@keyframes dash {
  0% {
    stroke-dashoffset: 187;
  }
  50% {
    stroke-dashoffset: 46.75;
    -webkit-transform: rotate(135deg);
            transform: rotate(135deg);
  }
  100% {
    stroke-dashoffset: 187;
    -webkit-transform: rotate(450deg);
            transform: rotate(450deg);
  }
}

@media screen and (max-width:3840px) {
    #geoB4B-blog{
        padding: 8.5em 17em;
    }
    #geoB4B-blog .title h1{
        font-size: 8em;
        margin: 0.5em;
    }
    #geoB4B-blog .title button{
        font-size: 4em;
        margin: 2em 0;
        border-radius: 40px;
        width: 10em;
    }
    #geoB4B-blog .card-alt{
        height: 900px;
        display: flex;
        justify-content: center;
        align-items: center;
    }
    #geoB4B-blog .card{
        border-bottom-left-radius: 4em;
        border-bottom-right-radius: 4em;
    }
    #geoB4B-blog .card .head{
        padding: 2em 4em;
        height: 500px;
    }
    #geoB4B-blog .card .content{
        height: 400px;
        padding: 2em;
        border-bottom-left-radius: 4em;
        border-bottom-right-radius: 4em;
    }
    #geoB4B-blog .card .content h3{
        font-size: 2.5em;
    }
    #geoB4B-blog .card .content p{
        font-size: 2em;
        line-height: 1.2em;
        max-height: 6em; 
        padding-right: 1em;
    }
    #geoB4B-blog .card .content p::after{
        width: 1em;
        height: 1em;
        margin-top: 0.2em;
    }
}

@media screen and (max-width:2560px) {
    #geoB4B-blog{
        padding: 7.5em 15em;
    }
    #geoB4B-blog .title h1{
        font-size: 5em;
        margin: 0 1em;
    }
    #geoB4B-blog .title button{
        font-size: 3em;
        border-radius: 30px;
    }
    #geoB4B-blog .card-alt{
        height: 600px;
    }
    #geoB4B-blog .card{
        border-bottom-left-radius: 3em;
        border-bottom-right-radius: 3em;
    }
    #geoB4B-blog .card .head{
        padding: 1.7em 3em;
        height: 300px;
    }
    #geoB4B-blog .card .content{
        height: 300px;
        padding: 2em;
        border-bottom-left-radius: 3em;
        border-bottom-right-radius: 3em;
    }
    #geoB4B-blog .card .content h3{
        font-size: 1.8em;
    }
    #geoB4B-blog .card .content p{
        font-size: 1.5em;
    }
}

@media screen and (max-width:1920px) {
    #geoB4B-blog{
        padding: 5em 10em;
    }
    #geoB4B-blog .title h1{
        font-size: 3.6em;
        margin: 0 1em;
    }
    #geoB4B-blog .title button{
        font-size: 2em;
        border-radius: 20px;
    }
    #geoB4B-blog .card-alt{
        height: 430px;
    }
    #geoB4B-blog .card{
        border-bottom-left-radius: 2em;
        border-bottom-right-radius: 2em;
    }
    #geoB4B-blog .card .head{
        padding: 1em 2em;
        height: 200px;
    }
    #geoB4B-blog .card .content{
        height: 230px;
        padding: 1.5em;
        border-bottom-left-radius: 2em;
        border-bottom-right-radius: 2em;
    }
    #geoB4B-blog .card .content h3{
        font-size: 1.3em;
    }
    #geoB4B-blog .card .content p{
        font-size: 1.1em;
    }
}

@media screen and (max-width:1600px) {
    #geoB4B-blog{
        padding: 3.7em 7.5em;
    }
    #geoB4B-blog .title h1{
        font-size: 3em;
        margin: 0 1em;
    }
    #geoB4B-blog .title button{
        font-size: 1.5em;
        border-radius: 20px;
    }
    #geoB4B-blog .card-alt{
        height: 350px;
    }
    #geoB4B-blog .card{
        border-bottom-left-radius: 1.5em;
        border-bottom-right-radius: 1.5em;
    }
    #geoB4B-blog .card .head{
        padding: 1em 2em;
        height: 150px;
    }
    #geoB4B-blog .card .content{
        height: 200px;
        padding: 1em;
        border-bottom-left-radius: 1.5em;
        border-bottom-right-radius: 1.5em;
    }
    #geoB4B-blog .card .content h3{
        font-size: 1.3em;
    }
    #geoB4B-blog .card .content p{
        font-size: 1.1em;
    }
}

@media screen and (max-width:1366px) {
    #geoB4B-blog{
        padding: 2.5em 5em;
    }
    #geoB4B-blog .title h1{
        font-size: 2.7em;
        margin: 0 1em;
    }
    #geoB4B-blog .title button{
        font-size: 1.3em;
        border-radius: 20px;
    }
    #geoB4B-blog .card-alt{
        height: 330px;
    }
    #geoB4B-blog .card{
        border-bottom-left-radius: 1.5em;
        border-bottom-right-radius: 1.5em;
    }
    #geoB4B-blog .card .head{
        padding: 1em 2em;
        height: 150px;
    }
    #geoB4B-blog .card .content{
        height: 180px;
        padding: 1em;
        border-bottom-left-radius: 1.5em;
        border-bottom-right-radius: 1.5em;
    }
    #geoB4B-blog .card .content h3{
        font-size: 1.1em;
    }
    #geoB4B-blog .card .content p{
        font-size: 0.9em;
        max-height: 5em;
    }
}

@media screen and (max-width:1200px) {
    #geoB4B-blog{
        padding: 2.5em 5em;
    }
    #geoB4B-blog .card{
        width: 40%;
        max-width: 40%;
        margin: 5%;
    }
}

@media screen and (max-width:1000px) {
    #geoB4B-blog{
        padding: 2.5em 5em;
    }
    #geoB4B-blog .card{
        width: 44%;
        max-width: 44%;
        margin: 3%;
    }
    
}

@media screen and (max-width:600px) {
    #geoB4B-blog{
        padding: 3em 0 1em 0;
    }
    #geoB4B-blog .title h1{
        font-size: 2em;
        margin: 0 1em;
    }
    #geoB4B-blog .title h2{
        font-size: 1.5em;
    }
    #geoB4B-blog .card .head{
        height: 150px;
    }
    #geoB4B-blog .card{
        width: 100%;
        max-width: 100%;
        padding: 0;
        margin: 1.5em 0;
    }
}