#geoB4B-home{
    width: 100%;
    min-height: 100px;
    background:url('../assets/images/slide.png');
    background-position: center; 
    background-repeat: no-repeat;
    background-size: cover;
    padding: 3em 5em;
}

#geoB4B-home .carousel {
    width: 100%;

}

#geoB4B-home .carousel .wrap {
    position: relative;
    width: 100%;
    padding: 40px 20px;
    margin: auto;
}

#geoB4B-home .carousel .arrow {
    display: block;
    position: absolute;
    color: #eee;
    cursor: pointer;
    font-size: 4em;
    top: 50%;
    -webkit-transform: translateY(-50%);
    -ms-transform: translateY(-50%);
    -moz-transform: translateY(-50%);
    -o-transform: translateY(-50%);
    transform: translateY(-50%);
    -webkit-transition: all .3s ease-in-out;    
    -ms-transition: all .3s ease-in-out;    
    -moz-transition: all .3s ease-in-out;    
    -o-transition: all .3s ease-in-out;    
    transition: all .3s ease-in-out;
    padding: 5px;
    z-index: 100;
}

#geoB4B-home .carousel .arrow:before {
    cursor: pointer;
}

#geoB4B-home .carousel .arrow:hover {
    color: #FD830C;
}


#geoB4B-home .carousel .arrow.left {
    left: 10px;
}

#geoB4B-home .carousel .arrow.right {
    right: 10px;
}

#geoB4B-home .carousel .dots {
    text-align: center;
    position: absolute;
    width: 100%;
    bottom: 60px;
    left: 0;
    display: block;
    z-index: 3333;
    height: 12px;
}

#geoB4B-home .carousel .dots .dot {
    list-style-type: none;
    display: inline-block;
    width: 12px;
    height: 12px;
    border-radius: 50%;
    border: 1px solid #eee;
    margin: 0 10px;
    cursor: pointer;
    -webkit-transition: all .5s ease-in-out;    
    -ms-transition: all .5s ease-in-out;    
    -moz-transition: all .5s ease-in-out;    
    -o-transition: all .5s ease-in-out;    
    transition: all .5s ease-in-out;
        position: relative;
}

#geoB4B-home .carousel .dots .dot.active,
#geoB4B-home .carousel .dots .dot:hover {
    background: #FD830C;
    border-color: #FD830C;
}

#geoB4B-home .carousel .dots .dot.active {
    -webkit-animation: carousel-scale .5s ease-in-out forwards;   
    -moz-animation: carousel-scale .5s ease-in-out forwards;   
    -ms-animation: carousel-scale .5s ease-in-out forwards;   
    -o-animation: carousel-scale .5s ease-in-out forwards;   
    animation: carousel-scale .5s ease-in-out forwards;   
}

#geoB4B-home .carousel .cont {
    position: relative;
    overflow: hidden;
}

#geoB4B-home .carousel .cont > div {
    text-align: center;
    position: absolute;
    top: 0;
    left: 0;
    padding: 0 0 70px 0;
    opacity: 0;
}

#geoB4B-home .carousel .cont > div.inactive {
    opacity: 1;
    display: none;
}


#geoB4B-home .carousel .cont > div.active {
    position: relative;
    opacity: 1;
    display: block;
}


#geoB4B-home .carousel .cont > div  .cards{
    width:100%;
    padding: 0 3em;
    position:relative;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: row;
    flex-wrap: wrap;
}

#geoB4B-home .carousel .cont > div  .card{
    width:50%;
    max-width: 50%;
    padding: 2em ;
    transition: 1s;
    -webkit-transition:0.5s;
    flex: 1 1 auto;
    text-align: center;
    z-index: 1000;
}

#geoB4B-home .carousel .cont > div  .card p{
    font-size: 2.7em;
    margin: 1em 0;
    text-align: left;
}


#geoB4B-home .carousel .cont > div .card img{
    max-width: 100%;
    max-height: 400px;
    margin: 0em;
}

#geoB4B-home .carousel .cont > div  .card p a{
    background-color: #FD830C;
    padding:0.3em 2em;
    width: 50%;
    font-size: 0.7em;
    border-radius: 20px;
    color: #fff;
    cursor: pointer;
    border: transparent;
    
}


#geoB4B-home .carousel .cont div h2 {
    color: #FD830C;
    margin: 15px 0;
}

#geoB4B-home .carousel .cont div p {
    color: #eee;
    width: 80%;
    margin: auto;
}

#geoB4B-home .carousel .cont div.active  img {
    -webkit-animation: carousel-show .5s ease-in-out forwards;            
    -moz-animation: carousel-show .5s ease-in-out forwards;            
    -ms-animation: carousel-show .5s ease-in-out forwards;            
    -o-animation: carousel-show .5s ease-in-out forwards;            
    animation: carousel-show .5s ease-in-out forwards;            
}

#geoB4B-home .carousel .cont div.active h1 {
    -webkit-animation: carousel-content-in .4s ease-in-out forwards;    
    -moz-animation: carousel-content-in .4s ease-in-out forwards;    
    -ms-animation: carousel-content-in .4s ease-in-out forwards;    
    -o-animation: carousel-content-in .4s ease-in-out forwards;    
    animation: carousel-content-in .4s ease-in-out forwards;    
}

#geoB4B-home .carousel .cont div.active h2 {
    -webkit-animation: carousel-content-in .4s ease-in-out forwards;    
    -moz-animation: carousel-content-in .4s ease-in-out forwards;    
    -ms-animation: carousel-content-in .4s ease-in-out forwards;    
    -o-animation: carousel-content-in .4s ease-in-out forwards;    
    animation: carousel-content-in .4s ease-in-out forwards;    
}

#geoB4B-home .carousel .cont div.active p {
    -webkit-animation: carousel-content-in .5s ease-in-out forwards;    
    -moz-animation: carousel-content-in .5s ease-in-out forwards;    
    -ms-animation: carousel-content-in .5s ease-in-out forwards;    
    -o-animation: carousel-content-in .5s ease-in-out forwards;    
    animation: carousel-content-in .5s ease-in-out forwards;    
}

#geoB4B-home .carousel .cont div.active a {
    -webkit-animation: carousel-content-in .5s ease-in-out forwards;    
    -moz-animation: carousel-content-in .5s ease-in-out forwards;    
    -ms-animation: carousel-content-in .5s ease-in-out forwards;    
    -o-animation: carousel-content-in .5s ease-in-out forwards;    
    animation: carousel-content-in .5s ease-in-out forwards;    
}

#geoB4B-home .carousel .cont div.inactive  img {
    -webkit-animation: carousel-hide .5s ease-in-out forwards;            
    -moz-animation: carousel-hide .5s ease-in-out forwards;            
    -ms-animation: carousel-hide .5s ease-in-out forwards;            
    -o-animation: carousel-hide .5s ease-in-out forwards;            
    animation: carousel-hide .5s ease-in-out forwards;            
}

#geoB4B-home .carousel .cont div.inactive h1 {
    -webkit-animation: carousel-content-out .4s ease-in-out forwards;        
    -moz-animation: carousel-content-out .4s ease-in-out forwards;        
    -ms-animation: carousel-content-out .4s ease-in-out forwards;        
    -o-animation: carousel-content-out .4s ease-in-out forwards;        
    animation: carousel-content-out .4s ease-in-out forwards;        
}

#geoB4B-home .carousel .cont div.inactive h2 {
    -webkit-animation: carousel-content-out .4s ease-in-out forwards;        
    -moz-animation: carousel-content-out .4s ease-in-out forwards;        
    -ms-animation: carousel-content-out .4s ease-in-out forwards;        
    -o-animation: carousel-content-out .4s ease-in-out forwards;        
    animation: carousel-content-out .4s ease-in-out forwards;        
}


#geoB4B-home .carousel .cont div.inactive p {
    -webkit-animation: carousel-content-out .5s ease-in-out forwards;    
    -moz-animation: carousel-content-out .5s ease-in-out forwards;    
    -ms-animation: carousel-content-out .5s ease-in-out forwards;    
    -o-animation: carousel-content-out .5s ease-in-out forwards;    
    animation: carousel-content-out .5s ease-in-out forwards;    
}

#geoB4B-home .carousel .cont div.inactive a {
    -webkit-animation: carousel-content-out .5s ease-in-out forwards;    
    -moz-animation: carousel-content-out .5s ease-in-out forwards;    
    -ms-animation: carousel-content-out .5s ease-in-out forwards;    
    -o-animation: carousel-content-out .5s ease-in-out forwards;    
    animation: carousel-content-out .5s ease-in-out forwards;    
}

@-webkit-keyframes carousel-scale {
0% {
    -webkit-box-shadow: 0px 0px 0px 0px #eee;
    box-shadow: 0px 0px 0px 0px #eee;
}

35% {
    -webkit-box-shadow: 0px 0px 10px 5px #eee;        
    box-shadow: 0px 0px 10px 5px #eee;        
}

70% {
    -webkit-box-shadow: 0px 0px 10px 5px #FD830C;        
    box-shadow: 0px 0px 10px 5px #FD830C;        
}

100% {
    -webkit-box-shadow: 0px 0px 0px 0px #FD830C;        
    box-shadow: 0px 0px 0px 0px #FD830C;        
}
}

@-moz-keyframes carousel-scale {
0% {
    -moz-box-shadow: 0px 0px 0px 0px #eee;
    box-shadow: 0px 0px 0px 0px #eee;
}

35% {
    -moz-box-shadow: 0px 0px 10px 5px #eee;        
    box-shadow: 0px 0px 10px 5px #eee;        
}

70% {
    -moz-box-shadow: 0px 0px 10px 5px #FD830C;        
    box-shadow: 0px 0px 10px 5px #FD830C;        
}

100% {
    -moz-box-shadow: 0px 0px 0px 0px #FD830C;        
    box-shadow: 0px 0px 0px 0px #FD830C;        
}
}

@-ms-keyframes carousel-scale {
0% {
    -ms-box-shadow: 0px 0px 0px 0px #eee;
    box-shadow: 0px 0px 0px 0px #eee;
}

35% {
    -ms-box-shadow: 0px 0px 10px 5px #eee;        
    box-shadow: 0px 0px 10px 5px #eee;        
}

70% {
    -ms-box-shadow: 0px 0px 10px 5px #FD830C;        
    box-shadow: 0px 0px 10px 5px #FD830C;        
}

100% {
    -ms-box-shadow: 0px 0px 0px 0px #FD830C;        
    box-shadow: 0px 0px 0px 0px #FD830C;        
}
}

@-o-keyframes carousel-scale {
0% {
    -o-box-shadow: 0px 0px 0px 0px #eee;
    box-shadow: 0px 0px 0px 0px #eee;
}

35% {
    -o-box-shadow: 0px 0px 10px 5px #eee;        
    box-shadow: 0px 0px 10px 5px #eee;        
}

70% {
    -o-box-shadow: 0px 0px 10px 5px #FD830C;        
    box-shadow: 0px 0px 10px 5px #FD830C;        
}

100% {
    -o-box-shadow: 0px 0px 0px 0px #FD830C;        
    box-shadow: 0px 0px 0px 0px #FD830C;        
}
}

@keyframes carousel-scale {
0% {
    box-shadow: 0px 0px 0px 0px #eee;
}

35% {
    box-shadow: 0px 0px 10px 5px #eee;        
}

70% {
    box-shadow: 0px 0px 10px 5px #FD830C;        
}

100% {
    box-shadow: 0px 0px 0px 0px #FD830C;        
}
}

@-webkit-keyframes carousel-content-in {
from {
    opacity: 0;
    -webkit-transform: translateY(100%);
    transform: translateY(100%);
}

to {
    opacity: 1;
    -webkit-transform: translateY(0);        
    transform: translateY(0);        
}
}

@-moz-keyframes carousel-content-in {
from {
    opacity: 0;
    -moz-transform: translateY(100%);
    transform: translateY(100%);
}

to {
    opacity: 1;
    -moz-transform: translateY(0);        
    transform: translateY(0);        
}
}

@-ms-keyframes carousel-content-in {
from {
    opacity: 0;
    -ms-transform: translateY(100%);
    transform: translateY(100%);
}

to {
    opacity: 1;
    -ms-transform: translateY(0);        
    transform: translateY(0);        
}
}

@-o-keyframes carousel-content-in {
from {
    opacity: 0;
    -o-transform: translateY(100%);
    transform: translateY(100%);
}

to {
    opacity: 1;
    -o-transform: translateY(0);        
    transform: translateY(0);        
}
}

@keyframes carousel-content-in {
from {
    opacity: 0;
    transform: translateY(100%);
}

to {
    opacity: 1;
    transform: translateY(0);        
}
}

@-webkit-keyframes carousel-content-out {
from {
    opacity: 1;
    -webkit-transform: translateY(0);
    transform: translateY(0);
}

to {
    opacity: 0;
    -webkit-transform: translateY(-100%);        
    transform: translateY(-100%);        
}
}

@-moz-keyframes carousel-content-out {
from {
    opacity: 1;
    -moz-transform: translateY(0);
    transform: translateY(0);
}

to {
    opacity: 0;
    -moz-transform: translateY(-100%);        
    transform: translateY(-100%);        
}
}

@-ms-keyframes carousel-content-out {
from {
    opacity: 1;
    -ms-transform: translateY(0);
    transform: translateY(0);
}

to {
    opacity: 0;
    -ms-transform: translateY(-100%);        
    transform: translateY(-100%);        
}
}

@-o-keyframes carousel-content-out {
from {
    opacity: 1;
    -o-transform: translateY(0);
    transform: translateY(0);
}

to {
    opacity: 0;
    transform: translateY(-100%);        
    transform: translateY(-100%);        
}
}

@keyframes carousel-content-out {
from {
    opacity: 1;
    transform: translateY(0);
}

to {
    opacity: 0;
    transform: translateY(-100%);        
}
}

@-webkit-keyframes carousel-show {
from {
    opacity: 0;
    -webkit-transform: scale(0);
    transform: scale(0);
}

to {
    opacity: 1;
    -webkit-transform: scale(1);       
    transform: scale(1);       
}
}

@-moz-keyframes carousel-show {
from {
    opacity: 0;
    -moz-transform: scale(0);
    transform: scale(0);
}

to {
    opacity: 1;
    -moz-transform: scale(1);       
    transform: scale(1);       
}
}

@-ms-keyframes carousel-show {
from {
    opacity: 0;
    -ms-transform: scale(0);
    transform: scale(0);
}

to {
    opacity: 1;
    -ms-transform: scale(1);       
    transform: scale(1);       
}
}

@-o-keyframes carousel-show {
from {
    opacity: 0;
    -o-transform: scale(0);
    transform: scale(0);
}

to {
    opacity: 1;
    -o-transform: scale(1);       
    transform: scale(1);       
}
}

@keyframes carousel-show {
from {
    opacity: 0;
    transform: scale(0);
}

to {
    opacity: 1;
    transform: scale(1);       
}
}

@-webkit-keyframes carousel-hide {
from {
    opacity: 1;
    -webkit-transform: scale(1);       
    transform: scale(1);       
}

to {
    opacity: 0;
    -webkit-transform: scale(0);
    transform: scale(0);
}
}

@-moz-keyframes carousel-hide {
from {
    opacity: 1;
    -moz-transform: scale(1);       
    transform: scale(1);       
}

to {
    opacity: 0;
    -moz-transform: scale(0);
    transform: scale(0);
}
}

@-ms-keyframes carousel-hide {
from {
    opacity: 1;
    -ms-transform: scale(1);       
    transform: scale(1);       
}

to {
    opacity: 0;
    -ms-transform: scale(0);
    transform: scale(0);
}
}

@-o-keyframes carousel-hide {
from {
    opacity: 1;
    -o-transform: scale(1);       
    transform: scale(1);       
}

to {
    opacity: 0;
    -o-transform: scale(0);
    transform: scale(0);
}
}

@keyframes carousel-hide {
from {
    opacity: 1;
    transform: scale(1);       
}

to {
    opacity: 0;
    transform: scale(0);
}
}



@media all and (max-width: 500px) {
#geoB4B-home .carousel .arrow {
    font-size: 1.5em;
}

#geoB4B-home .carousel .cont div p {
    line-height: 25px;
}

}

@media screen and (max-width:3840px) {
    #geoB4B-home{
        padding: 17em;
    }
    #geoB4B-home .carousel .arrow {
        font-size: 10em;
    }
    #geoB4B-home .carousel .dots .dot {
        width: 40px;
        height: 40px;
    }
    #geoB4B-home .carousel .cont > div  .cards{
        padding: 0 10em;
    }
    #geoB4B-home .carousel .cont > div  .card{
        padding: 8em ;
    }
    #geoB4B-home .carousel .cont > div  .card p{
        font-size: 8em;
        margin: 2em 0;
    }
    #geoB4B-home .carousel .cont > div .card img{
        max-height: 1000px;
    }
    #geoB4B-home .carousel .cont div h2 {
        margin: 0;
    }
    #geoB4B-home .carousel .cont div p {
        width: 100%;
    }
}

@media screen and (max-width:2560px) {
    #geoB4B-home{
        padding: 15em;
    }
    #geoB4B-home .carousel .arrow {
        font-size: 7.5em;
    }
    #geoB4B-home .carousel .dots .dot {
        width: 30px;
        height: 30px;
    }
    #geoB4B-home .carousel .cont > div  .cards{
        padding: 0 7.5em;
    }
    #geoB4B-home .carousel .cont > div  .card{
        padding: 6em ;
    }
    #geoB4B-home .carousel .cont > div  .card p{
        font-size: 5em;
        margin: 1.5em 0;
    }
    #geoB4B-home .carousel .cont > div .card img{
        max-height: 750px;
    }
}

@media screen and (max-width:1920px) {
    #geoB4B-home{
        padding: 10em;
    }
    #geoB4B-home .carousel .arrow {
        font-size: 5em;
    }
    #geoB4B-home .carousel .dots .dot {
        width: 20px;
        height: 20px;
    }
    #geoB4B-home .carousel .cont > div  .cards{
        padding: 0 5em;
    }
    #geoB4B-home .carousel .cont > div  .card{
        padding: 4em ;
    }
    #geoB4B-home .carousel .cont > div  .card p{
        font-size: 4em;
        margin: 0.7em 0;
    }
    #geoB4B-home .carousel .cont > div .card img{
        max-height: 400px;
    }
}

@media screen and (max-width:1600px) {
    #geoB4B-home{
        padding: 7em;
    }
    #geoB4B-home .carousel .arrow {
        font-size: 3.5em;
    }
    #geoB4B-home .carousel .dots .dot {
        width: 14px;
        height: 14px;
    }
    #geoB4B-home .carousel .cont > div  .cards{
        padding: 0 3.5em;
    }
    #geoB4B-home .carousel .cont > div  .card{
        padding: 2.8em ;
    }
    #geoB4B-home .carousel .cont > div  .card p{
        font-size: 2.8em;
        margin: 0.7em 0;
    }
    #geoB4B-home .carousel .cont > div .card img{
        max-height: 350px;
    }
}

@media screen and (max-width:1366px) {
    #geoB4B-home{
        padding: 5em;
    }
    #geoB4B-home .carousel .arrow {
        font-size: 2.5em;
    }
    #geoB4B-home .carousel .dots .dot {
        width: 10px;
        height: 10px;
    }
    #geoB4B-home .carousel .cont > div  .cards{
        padding: 0 2em;
    }
    #geoB4B-home .carousel .cont > div  .card{
        padding: 2em ;
    }
    #geoB4B-home .carousel .cont > div  .card p{
        font-size: 2.5em;
        margin: 0.7em 0;
    }
    #geoB4B-home .carousel .cont > div .card img{
        max-height: 300px;
    }
}

@media screen and (max-width:1280px) {
    #geoB4B-home{
        padding: 5em;
    }
    #geoB4B-home .carousel .arrow {
        font-size: 2.5em;
    }
    #geoB4B-home .carousel .dots .dot {
        width: 10px;
        height: 10px;
    }
    #geoB4B-home .carousel .cont > div  .cards{
        padding: 0 2em;
    }
    #geoB4B-home .carousel .cont > div  .card{
        padding: 1em 2em ;
    }
    #geoB4B-home .carousel .cont > div  .card p{
        font-size: 2.5em;
        margin: 0.7em 0;
    }
    #geoB4B-home .carousel .cont > div .card img{
        max-height: 280px;
    }
}

@media screen and (max-width:1000px) {
    #geoB4B-home{
        padding: 5em;
    }
    #geoB4B-home .carousel .arrow {
        font-size: 2.5em;
    }
    #geoB4B-home .carousel .dots .dot {
        width: 20px;
        height: 20px;
    }
    #geoB4B-home .carousel .cont > div  .cards{
        padding: 0 2em;
    }
    #geoB4B-home .carousel .cont > div  .card{
        padding: 1em 2em ;
        width:100%;
        max-width: 100%;
        height: 320px;
    }
    #geoB4B-home .carousel .cont > div  .card p{
        font-size: 2.5em;
        margin: 0.7em 0;
    }
    #geoB4B-home .carousel .cont > div .card img{
        max-height: 300px;
    }
}

@media screen and (max-width:600px) {
    #geoB4B-home{
        padding: 3em 0 1em 0;
    }
    #geoB4B-home .carousel .arrow {
        font-size: 2.5em;
    }
    #geoB4B-home .carousel .dots .dot {
        width: 10px;
        height: 10px;
    }
    #geoB4B-home .carousel .cont > div  .cards{
        padding: 0em;
    }
    #geoB4B-home .carousel .cont > div  .card{
        padding: 1em;
        width:100%;
        max-width: 100%;
        height: 200px;
    }
    #geoB4B-home .carousel .cont > div  .card p{
        font-size: 2em;
        margin: 0.7em 0;
    }
    #geoB4B-home .carousel .cont > div .card img{
        max-height: 200px;
    }
}