html,
body {
    margin: 0;
    padding: 0;
    color: #4E535B;
    font-family: 'Lato', sans-serif;
    scroll-behavior: smooth;
}

*:focus {
  outline: none;
}

a:focus {
  color: #FD830C;
}

b{
  color: #FD830C;
}

button:active {
  outline: none;
  border: none;
}

::-webkit-scrollbar {
  width: 8px;
  height: 8px;
}

::-webkit-scrollbar-track {
  background: #f1f1f1; 
}

::-webkit-scrollbar-thumb {
  background: #888; 
  border-radius: 10px;
}

::-webkit-scrollbar-thumb:hover {
  background: #444; 
}

