<noscript><iframe src="https://www.googletagmanager.com/ns.html?id=GTM-WNNH4W5" height="0" width="0" style="display:none;visibility:hidden"></iframe></noscript>
<nav class="geoB4B-navbar-nav">
	<div ng-include="'app/components/templates/navbar/navbar.html'"></div>
</nav>
<section id="geoB4B-home" class="content-section">
	<div ng-include="'app/components/templates/home/home.html'"></div>
</section>
<section id="geoB4B-what-is" class="content-section">
	<div ng-include="'app/components/templates/what-is/what-is.html'"></div>
</section>
<section id="geoB4B-why-us" class="content-section">
	<div ng-include="'app/components/templates/why-us/why-us.html'"></div>
</section>
<section id="geoB4B-opportunities" class="content-section">
	<div ng-include="'app/components/templates/opportunities/opportunities.html'"></div>
</section>
<section id="geoB4B-testimonials" class="content-section">
	<div ng-include="'app/components/templates/testimonials/testimonials.html'"></div>
</section>
<section id="geoB4B-package" class="content-section">
	<div ng-include="'app/components/templates/package/package.html'"></div>
</section>
<section id="geoB4B-clients" class="content-section">
	<div ng-include="'app/components/templates/clients/clients.html'"></div>
</section>

<section id="geoB4B-blog" class="content-section">
	<div ng-include="'app/components/templates/blog/blog.html'"></div>
</section>
<section id="geoB4B-contact" class="content-section">
	<div ng-include="'app/components/templates/contact/contact.html'"></div>
</section>
<footer id="geoB4B-footer" class="content-section">
	<div ng-include="'app/components/templates/footer/footer.html'"></div>
</footer>
<div id="geoB4B-loader" ng-show="promise.$$state.status == 0">
	<div class="line"></div>
	<div class="line"></div>
	<div class="line"></div>
	<div class="line"></div>
</div>
<div ng-include="'app/components/templates/contact/verify.html'"></div>

<script>
	$(function () {
        $(document).scroll(function () {
            var $nav = $(".geoB4B-navbar-nav");
            $nav.toggleClass('scrolled', $(this).scrollTop() > $nav.height());

            var $link = $(".geoB4B-link");
            $link.toggleClass('scrolled', $(this).scrollTop() > $nav.height());
			7
			var $link = $(".geoB4B-facebook");
            $link.toggleClass('scrolled', $(this).scrollTop() > $nav.height());

			var $link = $(".geoB4B-twitter");
            $link.toggleClass('scrolled', $(this).scrollTop() > $nav.height());

			var $link = $(".geoB4B-instagram");
            $link.toggleClass('scrolled', $(this).scrollTop() > $nav.height());

            var $line = $(".geoB4B-navbar-navTrigger-line");
            $line.toggleClass('scrolled', $(this).scrollTop() > $nav.height());
        });
    });
    $(document).ready(function(){
		var contentSection = $('.content-section');
		var navigation = $('nav');
		var navigationBtn = $('button');
		
		navigation.on('click', '.geoB4B-link', function(event){
			event.preventDefault();
			smoothScroll($(this.hash));
		});

		navigationBtn.on('click', '.Boton', function(event){
			event.preventDefault();
			smoothScroll($(this.hash));
		});
		
		$(window).on('scroll', function(){
			updateNavigation();
		})
		updateNavigation();
		
		function updateNavigation(){
			contentSection.each(function(){
				var sectionName = $(this).attr('id');
				var navigationMatch = $('nav a[href="#' + sectionName + '"]');
				if( ($(this).offset().top - $(window).height()/2 < $(window).scrollTop()) &&
					($(this).offset().top + $(this).height() - $(window).height()/2 > $(window).scrollTop()))
					{
						navigationMatch.addClass('active-section');
					}
				else {
					navigationMatch.removeClass('active-section');
				}
			});
		}
		function smoothScroll(target){
			$('body,html').animate({
				scrollTop: target.offset().top
			}, 800);
		}
	});
</script>