<div id="carousel" class="carousel">
    <div class="wrap">
        <span id="right-arrow-carousel" class="arrow right ion-ios-arrow-right"></span>
        <span id="left-arrow-carousel" class="arrow left ion-ios-arrow-left "></span>
        <ul id="carousel-dots" class="dots">
            <li class="dot active"></li>
            <li class="dot"></li>
            <li class="dot"></li>
            <li class="dot"></li>
            <li class="dot"></li>
            <li class="dot"></li>
        </ul>
        <div id="carousel-content" class="cont">
            <div class="active">
                <div class="cards">
                    <div class="card">
                        <p>
                            Compra la base de datos de contactos de todo México
                            por sólo <b>$4,999.00 MXN</b>
                        </p>
                        <p>
                            <a ng-href="https://buy.geob4b.com" id="Oferta" class="Boton">Comprar</a>
                        </p>
                    </div>
                    <div class="card">
                        <img src="assets/images/paypal-rounded-icon.png" alt="Oferta de miedo"/>
                    </div>
                </div>
            </div>
            <div>
                <div class="cards">
                    <div class="card">
                        <p>
                            Tenemos los contactos <b>que necesitas</b>.
                        </p>
                    </div>
                    <div class="card">
                        <img src="assets/images/1-min.png" alt="¿En qué nos diferenciamos?"/>
                    </div>
                </div>
            </div>
            <div>
                <div class="cards">
                    <div class="card">
                        <p>
                            ¿Te hacen falta <b>clientes</b>?
                        </p>
                    </div>
                    <div class="card">
                        <img src="assets/images/2-min.png" alt="¿En qué nos diferenciamos?"/>
                    </div>
                </div>                    
            </div>
            <div>
                <div class="cards">
                    <div class="card">
                        <p>
                            ¿Necesitas contactos de un <b>sector empresarial</b> en específico?
                        </p>
                    </div>
                    <div class="card">
                        <img src="assets/images/3-min.png" alt="¿En qué nos diferenciamos?"/>
                    </div>
                </div>                    
            </div>
            <div>
                <div class="cards">
                    <div class="card">
                        <p>
                            ¿Sabes dónde se concentran <b>sus consumidores</b>?
                        </p>
                    </div>
                    <div class="card">
                        <img src="assets/images/4-min.png" alt="¿En qué nos diferenciamos?"/>
                    </div>
                </div>                    
            </div>
            <div>
                <div class="cards">
                    <div class="card">
                        <p>
                            ¿Conoces las características de tu <b>público objetivo</b>?
                        </p>
                    </div>
                    <div class="card">
                        <img src="assets/images/5-min.png" alt="¿En qué nos diferenciamos?"/>
                    </div>
                </div>                    
            </div>
        </div>
    </div>
</div>

<script>
    // vars
    'use strict'
    var	carousel = document.getElementById("carousel"),
    carouselDots = Array.prototype.slice.call(document.getElementById("carousel-dots").children),
    carouselContent = Array.prototype.slice.call(document.getElementById("carousel-content").children),
    carouselLeftArrow = document.getElementById("left-arrow-carousel"),
    carouselRightArrow = document.getElementById("right-arrow-carousel"),
    carouselSpeed = 10500,
    currentSlide = 0,
    currentActive = 0,
    carouselTimer,
    touchStartPos,
    touchEndPos,
    touchPosDiff,
    ignoreTouch = 30;

    window.onload = function() {

    function playSlide(slide) {
        for (var k = 0; k < carouselDots.length; k++) {
            carouselContent[k].classList.remove("active");
            carouselContent[k].classList.remove("inactive");
            carouselDots[k].classList.remove("active");
        }

        if (slide < 0) {
            slide = currentSlide = carouselContent.length-1;
        }

        if (slide > carouselContent.length - 1) {
            slide = currentSlide = 0;
        }

        if (currentActive != currentSlide) {
            carouselContent[currentActive].classList.add("inactive");            
        }
        carouselContent[slide].classList.add("active");
        carouselDots[slide].classList.add("active");

        currentActive = currentSlide;
    
        clearTimeout(carouselTimer);
        carouselTimer = setTimeout(function() {
            playSlide(currentSlide += 1);
        }, carouselSpeed)
    }

    carouselLeftArrow.addEventListener("click", function() {
        playSlide(currentSlide -= 1);
    })

    carouselRightArrow.addEventListener("click", function() {
        playSlide(currentSlide += 1);
    })    

    for (var l = 0; l < carouselDots.length; l++) {
        carouselDots[l].addEventListener("click", function() {
            playSlide(currentSlide = carouselDots.indexOf(this));
        })
    }

    playSlide(currentSlide);

    document.addEventListener("keyup", function(e) {
        switch (e.keyCode) {
            case 37:
                carouselLeftArrow.click();
                break;
                
            case 39:
                carouselRightArrow.click();
                break;

            case 39:
                carouselRightArrow.click();
                break;

            default:
                break;
        }
    })
		
    carousel.addEventListener("touchstart", function(e) {
            touchStartPos = e.changedTouches[0].clientX;
    })

    carousel.addEventListener("touchend", function(e) {
        touchEndPos = e.changedTouches[0].clientX;
        touchPosDiff = touchStartPos - touchEndPos;
    
        if (touchPosDiff > 0 + ignoreTouch) {
                carouselLeftArrow.click();
        } else if (touchPosDiff < 0 - ignoreTouch) {
                carouselRightArrow.click();
        } else {
            return;
        }
    })
}
</script>