<div class="title">
    <h1>planes<b>.</b></h1>
    <h2>Elige el plan de acuerdo a <b>tus necesidades</b></h2>
</div>
<div class="cards">
    <div class="card">
        <div class="head head-1">
            <h3>geoMailing</h3>
            <img src="assets/images/geomailing.png" alt="geoMailing">
        </div>
        <div class="content">
            <h4>100 000 Registros</h4>
            <ul>
                <li><i class="ion-record"></i>Nombre de Empresa</li>
                <li><i class="ion-record"></i>Domicilio</li>
                <li><i class="ion-record"></i>Coordenadas Geográficas</li>
                <li><i class="ion-record"></i>e-mail</li>
            </ul>
            <a class="Boton" id="Paquete-1" href="https://dl.dropbox.com/s/rbvksc5ih1ops1b/geoB4B%20-%20geoMaling.xlsx?dl=0">
                Descargar
            </a>
        </div>
    </div>
    <div class="card">
        <div class="head head-2">
            <h3>geoTelemarketing</h3>
            <img src="assets/images/geotele.png" alt="geoTelemarketing">
        </div>
        <div class="content">
            <h4>100 000 Registros</h4>
            <ul>
                <li><i class="ion-record"></i>Nombre de Empresa</li>
                <li><i class="ion-record"></i>Domicilio</li>
                <li><i class="ion-record"></i>Coordenadas Geográficas</li>
                <li><i class="ion-record"></i>Teléfono</li>
            </ul>
            <a class="Boton" id="Paquete-2" href="https://dl.dropbox.com/s/1d31ff7m102m70t/geoB4B%20-%20geoTelemarketing.xlsx?dl=0">
                Descargar
            </a>
        </div>
    </div>
    <div class="card">
        <div class="head head-3">
            <h3>geoPlus</h3>
            <img src="assets/images/geoteleplus.png" alt="geoPlus">
        </div>
        <div class="content">
            <h4>100 000 Registros</h4>
            <ul>
                <li><i class="ion-record"></i>Nombre de Empresa</li>
                <li><i class="ion-record"></i>Domicilio</li>
                <li><i class="ion-record"></i>Coordenadas Geográficas</li>
                <li><i class="ion-record"></i>e-mail</li>
                <li><i class="ion-record"></i>Teléfono</li>
            </ul>
            <a class="Boton" id="Paquete-3" href="https://dl.dropbox.com/s/yzce6lgoueipk1e/geoB4B%20-%20geoPlus.xlsx?dl=0">
                Descargar
            </a>
        </div>
    </div>
    <div class="card">
        <div class="head head-4">
            <h3>geoEnterprise</h3>
            <img src="assets/images/geoenterprise.png" alt="geoEnterprise">
        </div>
        <div class="content">
            <h4>100 000 Registros</h4>
            <ul>
                <li><i class="ion-record"></i>Nombre de Empresa</li>
                <li><i class="ion-record"></i>Domicilio</li>
                <li><i class="ion-record"></i>Coordenadas Geográficas</li>
                <li><i class="ion-record"></i>e-mail</li>
                <li><i class="ion-record"></i>Teléfono</li>
                <li><i class="ion-record"></i>Web</li>
                <li><i class="ion-record"></i>Ubicación de información en un mapa inteligente</li>
            </ul>
            <a class="Boton" id="Paquete-4" href="">
                Próximamente
            </a>
        </div>
    </div>
</div>