<div class="container-fluid">
    <div class="logo">
        <a href="#geoB4B-home">
            <img class="logo_original" src="/assets/images/geob4b.png" alt="logo de geoB4B">
        </a>
    </div>
    <div id="mainListDiv" class="main_list">
        <ul>
            <li >
                <a href="#geoB4B-home" class="geoB4B-link Links" id="Inicio">
                    Inicio
                </a>
            </li>
            <li >
                <a href="#geoB4B-what-is" class="geoB4B-link Links" id="Que_es">
                    ¿Qué es?
                </a>
            </li>
            <li >
                <a href="#geoB4B-package" class="geoB4B-link Links" id="Planes">
                    Planes
                </a>
            </li>
            <li >
                <a href="#geoB4B-contact" class="geoB4B-link Links" id="Cotizar">
                    Cotizar
                </a>
            </li>
            <li class="hide-links-nav">
                <a href="https://www.facebook.com/GeoB4B-283457445805530/" target="_blank" class="Links">
                    <i class="fab fa-facebook-square geoB4B-facebook"></i>
                </a>
            </li>
            <li class="hide-links-nav">
                <a href="https://twitter.com/B4Geo" target="_blank" class="Links">
                    <i class="fab fa-twitter-square geoB4B-twitter"></i>
                </a>
            </li>
            <li class="hide-links-nav">
                <a href="https://www.instagram.com/geob4b_oeste/" target="_blank" class="Links">
                    <i class="fab fa-instagram geoB4B-instagram"></i>
                </a>
            </li>
        </ul>
    </div>
    <div class="social_list">
        <ul class="geoB4B-navbar-social">
            <li><a href="https://www.facebook.com/GeoB4B-283457445805530/" id="Facebook" class="Links" target="_blank"><i class="fab fa-facebook-square geoB4B-facebook"></i></a></li>
            <li><a href="https://twitter.com/B4Geo" id="Twitter" class="Links" target="_blank"><i class="fab fa-twitter-square geoB4B-twitter"></i></a></li>
            <li><a href="https://www.instagram.com/geob4b_oeste/" id="Instagram" class="Links" target="_blank"><i class="fab fa-instagram geoB4B-instagram"></i></a></li>
        </ul>
    </div>
    <span class="geoB4B-navbar-navTrigger">
        <i class="geoB4B-navbar-navTrigger-line"></i>
        <i class="geoB4B-navbar-navTrigger-line"></i>
        <i class="geoB4B-navbar-navTrigger-line"></i>
    </span>
</div>
<script>
$('.geoB4B-navbar-navTrigger').click(function () {
    $(this).toggleClass('active');
    $("#mainListDiv").toggleClass("show_list");
    $("#mainListDiv").fadeIn();
});
$('.geoB4B-link').click(function () {
    $(this).toggleClass('active');
    $("#mainListDiv").toggleClass("show_list");
    $("#mainListDiv").fadeIn();
});
</script>