<div class="title">
    <h1>testimoniales<b>.</b></h1>
</div>
<div id="testimonialCarousel" class="carousel slide" data-ride="carousel">
    <div class="carousel-inner">
      <div class="item active">
        <div class="carousel-caption">
          <p>
            "El objetivo al solicitar los servicios de oeste® ha sido para el desarrollo de una 
            herramienta que nos ayudará a conocer la distancia que existe de ubicaciones específicas a 
            determinados cuerpos de agua (rio, mar, entre otros).
            Con esta solución, oeste® nos ayuda a poder cuantificar riesgos hidrometereológicos de una manera fácil y ágil."
          </p>
          <img src="https://dl.dropboxusercontent.com/s/26i62pyighto5k7/allianz-01.jpg?dl=0" alt="Allianz">
        </div>
      </div>
      <div class="item">
        <div class="carousel-caption">
          <p>
            "oeste® nos ayudó con el desarrollo de un dashboard, que permite visualizar las promociones que 
            nuestro cliente les da a sus asociados: descuentos, cupones, promociones, entre otros beneficios.
            A través de esta aplicación, se permite enviar las promociones mediante correo electrónico, de 
            acuerdo con el tipo de asociado, lo que permite conocer cuáles son las promociones más utilizadas 
            por sus asociados, ayudándonos a optimizan las bases de datos con el objetivo de incrementar 
            las oportunidades de negocio."
          </p>
          <img src="https://dl.dropboxusercontent.com/s/bxt97s6ntaj5vwc/lead%20image-01.jpg?dl=0" alt="Lead Image">
        </div>
      </div>
      <div class="item">
        <div class="carousel-caption">
          <p>
            "Buscamos una herramienta de geolocalización que ubique nuestros principales clientes y permita 
            el análisis de los mismos en profundidad.
            oeste® nos dió la solución mediante la herramienta de Location Intelligence, ewisemaps, 
            que nos permite la visualización de información específica sobre nuestros clientes y las 
            principales zonas en donde se encuentran, mostrando gráficos de sus principales ventas"
          </p>
          <img src="https://dl.dropboxusercontent.com/s/3kfwbfu0ejv5ypy/mundo%20joven-01.jpg?dl=0" alt="Mundo Joven">
        </div>
      </div>
      <div class="item">
        <div class="carousel-caption">
          <p>
            "Al contratar los servicios de oeste® buscamos gestionar el inventario de la red distribuidora de gas.
            oeste® desarrolló para nosotros un sistema de información geográfica basado en el software de General 
            Electric Smallworld, que nos permite gestionar el inventario de la red distribuidora de gas, además 
            es capaz de almacenar información técnica acerca del consumo y estado de la red.
            oeste® nos ha ayudado a optimizar nuestro trabajo, caracterizándose por trabajar con compromiso en cada proyecto."
          </p>
          <img src="https://dl.dropboxusercontent.com/s/qfby5s1yn7lk6o0/Naturgy-01.jpg?dl=0" alt="Naturgy">
        </div>
      </div>
    </div>
    <a class="left carousel-control" data-target="#testimonialCarousel" data-slide="prev">
      <span class="ion-ios-arrow-left"></span>
      <span class="sr-only">Previous</span>
    </a>
    <a class="right carousel-control" data-target="#testimonialCarousel" data-slide="next">
      <span class="ion-ios-arrow-right"></span>
      <span class="sr-only">Next</span>
    </a>
</div>