<div class="cards">
        <div class="card">
            <h1>geoB4B <br> para Marketing</h1>
            <p>
                Te ofrece que tus campañas lleguen al sector correcto y contratando
                <b>ewisemaps</b> puedes identificar zonas geográficas donde puedes
                ampliar tus oportunidades de expansión
            </p>
            <img src="assets/images/marketing.png" alt="geoB4B Marketing">
        </div>
        <div class="card">
            <h1>geoB4B <br> para Ventas</h1>
            <p>
                Te brinda información verificada de las empresas por diferente sector,
                lo cual te ahorra tiempo a la hora de poder prospectar. Incrementando tus
                clientes de una manera fácil.
            </p>
            <img src="assets/images/ventas.png" alt="geoB4B Ventas">
        </div>
    </div>